<nav class="side-nav">
  <div class="wrapper">
    <div class="side-nav-header">
      <!--<a class="icon-button" (click)="onBackArrowClick($event)">
        <i class="material-icons">arrow_back</i>
      </a>-->
      <a class="icon-button" (click)="toggleSideNav($event)">
        <i class="material-icons">menu</i>
      </a>
    </div>
    <ul class="navbar-nav" *ngIf="content==null">
      <ng-container *ngFor="let item of menuItems">
        <li class="nav-item" *ngIf="item.visible!==false"
            [tooltip]="toolTipContent" placement="right" containerClass="customTooltip"
            [isDisabled]="!collapsed">
          <a class="nav-link" routerLink="{{item.routerLink}}" routerLinkActive="{{item.active}}">
            <i class="{{item.icon}}"></i>
            <span>{{item.title|translate}}</span>
          </a>
          <ng-template #toolTipContent>{{item.title|translate}}</ng-template>
        </li>
      </ng-container>
    </ul>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</nav>
