<div class="host-wrapper">
  <section class="container-fluid mb-4 report-section">
    <div class="row flex-row-reverse">
      <button type="button" class="btn btn-primary">Export to PDF</button>
      <button type="button" class="btn btn-primary">Generate Report</button>
      <div class="daterange-input">
        <input type="text" placeholder="Select Date Range" class="form-control" bsDaterangepicker #dateRangePicker
          placement="bottom">
        <button class="btn btn-secondary" type="button" (click)="dateRangePicker.click()">
          <i class="far fa-calendar-alt"></i>
        </button>
      </div>
    </div>
  </section>
  <section class="container-fluid mb-xl-4 mb-5 main-chart-section">
    <div class="row">
      <div class="col-xl-3 order-1">
        <div class="card stats-blocks mb-3">
          <h6>Session</h6>
          <h2>832</h2>
          <span class="alert-txt danger">20%</span>
        </div>
        <div class="card stats-blocks  mb-3">
          <h6>Session Duration</h6>
          <h2>863</h2>
          <span class="alert-txt success">18%</span>
        </div>
        <div class="card stats-blocks mb-0">
          <h6>Users</h6>
          <h2>753</h2>
          <span class="alert-txt warn">10%</span>
        </div>
      </div>
      <div class="col-xl-9 order-0 order-xl-1 mb-3 mb-xl-0">
        <div class="card chart-block main-chart-block">
          <div class="card-header">
            <span class="card-title">statistics</span>
            <div class="form-group">
              <select class="form-control sm-select" id="">
                <option>Today</option>
                <option>Last 7 days</option>
                <option>Last 14 days</option>
                <option>Last 30 days</option>
              </select>
            </div>
          </div>
          <div class="card-body"></div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-3 col-lg-6 mb-3 mb-xl-0">
        <div class="card stats-blocks">
          <h6>New User</h6>
          <h2>81</h2>
          <span class="alert-txt warn">10%</span>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 mb-3 mb-xl-0">
        <div class="card stats-blocks">
          <h6>Page Visits</h6>
          <h2>1183</h2>
          <span class="alert-txt warn">15%</span>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 mb-3 mb-xl-0">
        <div class="card stats-blocks">
          <h6>Session per user</h6>
          <h2>03:51</h2>
          <span class="alert-txt warn">15%</span>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 mb-3 mb-xl-0">
        <div class="card stats-blocks">
          <h6>Bounce Rate</h6>
          <h2>21%</h2>
          <span class="alert-txt success">8%</span>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid mb-5 video-chart-section">
    <div class="row">
      <div class="col-xl-9 mb-3 mb-xl-0">
        <div class="card chart-block video-chart-block">
          <div class="card-header">
            <span class="card-title">Video statistics</span>
            <div class="form-group">
              <select class="form-control sm-select" id="">
                <option>Today</option>
                <option>Last 7 days</option>
                <option>Last 14 days</option>
                <option>Last 30 days</option>
              </select>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-xl-4 mb-3 mb-xl-0">
                <div class="stat-list active">
                  <span>Session</span>
                  <h5>845</h5>
                </div>
                <div class="stat-list">
                  <span>Watch Time</span>
                  <h5>277</h5>
                </div>
                <div class="stat-list">
                  <span>Avg. View Duration</span>
                  <h5>3:01</h5>
                </div>
                <div class="stat-list">
                  <span>Downloads</span>
                  <h5>359</h5>
                </div>
              </div>
              <div class="col-xl-8">
                <h3>Chart</h3>
              </div>
            </div>
          </div>
          <div class="card-footer with-border">
            <a routerLink="video-analytics" class="custom-link-button">
              View Comlpete Video Stats
              <i class="fas fa-chevron-right ml-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card quick-stats-block mb-xl-0">
          <div class="card-header">
            <span class="card-title">Quick Details</span>
          </div>
          <div class="card-body">
            <ul class="plain-list">
              <li>
                <div class="custom-circle-icon"><i class="fas fa-user-plus"></i></div>
                12 New Users
              </li>
              <li>
                <div class="custom-circle-icon"><i class="fas fa-file-alt"></i></div>
                2 documents uploaded
              </li>
              <li>
                <div class="custom-circle-icon"><i class="fas fa-eye"></i></div>
                120 visits to calculator
              </li>
              <li>
                <div class="custom-circle-icon"><i class="fas fa-play-circle"></i></div>
                4 videos removed
              </li>
              <li>
                <div class="custom-circle-icon"><i class="fas fa-mobile-alt"></i></div>
                228 contact attempts
              </li>
              <li>
                <div class="custom-circle-icon"><i class="fas fa-external-link-square-alt"></i></div>
                320 visits to links
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid mb-5 top-websites-section">
    <div class="row">
      <div class="col-12">
        <div class="card table-block">
          <div class="card-header">
            <span class="card-title">top videos</span>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">name</th>
                  <th scope="col">views</th>
                  <th scope="col">watch time <span class="subscript">(minutes)</span></th>
                  <th scope="col">downloads</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Benefits of Insurance</td>
                  <td>1200</td>
                  <td>04:50</td>
                  <td>488</td>
                </tr>
                <tr>
                  <td>Commercial Real estate Investment</td>
                  <td>982</td>
                  <td>02:20</td>
                  <td>400</td>
                </tr>
                <tr>
                  <td>Health Care for All</td>
                  <td>980</td>
                  <td>04:18</td>
                  <td>553</td>
                </tr>
                <tr>
                  <td>Health Care for All</td>
                  <td>980</td>
                  <td>04:18</td>
                  <td>553</td>
                </tr>
                <tr>
                  <td>Health Care for All</td>
                  <td>980</td>
                  <td>04:18</td>
                  <td>553</td>
                </tr>
                <tr>
                  <td>Health Care for All</td>
                  <td>980</td>
                  <td>04:18</td>
                  <td>553</td>
                </tr>
                <tr>
                  <td>Health Care for All</td>
                  <td>980</td>
                  <td>04:18</td>
                  <td>553</td>
                </tr>
                <tr>
                  <td>Health Care for All</td>
                  <td>980</td>
                  <td>04:18</td>
                  <td>553</td>
                </tr>
                <tr>
                  <td>Health Care for All</td>
                  <td>980</td>
                  <td>04:18</td>
                  <td>553</td>
                </tr>
                <tr>
                  <td>Health Care for All</td>
                  <td>980</td>
                  <td>04:18</td>
                  <td>553</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <a class="custom-link-button">
              <i class="fas fa-sync-alt mr-1"></i>
              Load More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid mb-5 top-videos-section">
    <div class="row">
      <div class="col-12">
        <div class="card table-block">
          <div class="card-header">
            <span class="card-title">top websites</span>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Views</th>
                  <th scope="col">Avg Time <span class="subscript">(minutes)</span></th>
                  <th scope="col">Videos</th>
                  <th scope="col">Downloads</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>axceptamedia.learnyourbenefits.com</td>
                  <td>1899</td>
                  <td>03:42</td>
                  <td>25</td>
                  <td>1134</td>
                </tr>
                <tr>
                  <td>paramountpictures.learnyourbenefits.com</td>
                  <td>1480</td>
                  <td>03:01</td>
                  <td>82</td>
                  <td>1384</td>
                </tr>
                <tr>
                  <td>medicalhealth.learnyourbenefits.com</td>
                  <td>1290</td>
                  <td>02:44</td>
                  <td>33</td>
                  <td>948</td>
                </tr>
                <tr>
                  <td>medicalhealth.learnyourbenefits.com</td>
                  <td>1290</td>
                  <td>02:44</td>
                  <td>33</td>
                  <td>948</td>
                </tr>
                <tr>
                  <td>medicalhealth.learnyourbenefits.com</td>
                  <td>1290</td>
                  <td>02:44</td>
                  <td>33</td>
                  <td>948</td>
                </tr>
                <tr>
                  <td>medicalhealth.learnyourbenefits.com</td>
                  <td>1290</td>
                  <td>02:44</td>
                  <td>33</td>
                  <td>948</td>
                </tr>
                <tr>
                  <td>medicalhealth.learnyourbenefits.com</td>
                  <td>1290</td>
                  <td>02:44</td>
                  <td>33</td>
                  <td>948</td>
                </tr>
                <tr>
                  <td>medicalhealth.learnyourbenefits.com</td>
                  <td>1290</td>
                  <td>02:44</td>
                  <td>33</td>
                  <td>948</td>
                </tr>
                <tr>
                  <td>medicalhealth.learnyourbenefits.com</td>
                  <td>1290</td>
                  <td>02:44</td>
                  <td>33</td>
                  <td>948</td>
                </tr>
                <tr>
                  <td>medicalhealth.learnyourbenefits.com</td>
                  <td>1290</td>
                  <td>02:44</td>
                  <td>33</td>
                  <td>948</td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <a class="custom-link-button">
              <i class="fas fa-sync-alt mr-1"></i>
              Load More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
