<ng-template #tmpl let-item="item">
  <div class="adv-selected-option">
    <div><img [src]="item?.image_url" class="avatar" [alt]="item?.image_url"></div>
    <div>
      <span>{{item?.first_name}} {{item?.last_name}}</span> <br>
      <span class="small text-muted">{{item?.email}}</span>
    </div>

  </div>

</ng-template>
<ng-template #tmplUnassigned>
  <div class="adv-selected-option">
    <img src="app-images/avatar.svg" class="avatar" alt="default-avatar">
    <span>Unassigned</span>
  </div>
</ng-template>
<advanced-select
  (onSelect)="onAdvSelect($event)"
  [remote]="true"
  [url]="userFetchUrl"
  [config]="config"
  [value]="value"
  (actionButtonClick)="onActionButtonClick($event)"
></advanced-select>
