@import "../1-tools/variables";

html,
body {
  background: $body-background;
  color: $dark-gray;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: $black;
}

.host-wrapper {
  padding: 3vh 2vw;
  min-height: 100%;
  //min-height: calc(100% - 70px);
}


.custom-scrollbar {
  --scrollbar-color: transparent !important;
  --scrollbar-container-color: rgba(0, 0, 0, .15) !important;
  --scrollbar-thumb-color: rgba(0, 0, 0, .35) !important;
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, .45) !important;
  --scrollbar-border-radius: 4px !important;
  --scrollbar-size: 6px !important;
  --scrollbar-padding: 0 !important;
  --scroll-view-margin: 0 !important;
  --scroll-view-color: transparent !important;
}

// scrollbar styles for chrome only - doesn't work on firefox, ie or edge
/*
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .15) !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .35) !important;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .45) !important;
}
*/



// angular elements
app-video-player {
  display: block;
  position: relative;
}

app-video-playlist {
  display: block;
}

app-bucket-libary {
  display: block;
  height: 100%;
}

app-contact-card {
  @include display-flex();
  height: 100%;
  margin-bottom: 1rem;
}

app-contact-card{
  display: block;
  height: 100%;
}

admin-side-navbar {
  display: block;
}

admin-toolbar {
  display: block;
}

.admin-wrapper {
  display: flex;
  min-height: 100vh;

  .outlet-wrapper {
    flex: 1 1 auto;
    margin-left: 320px;
    margin-top: 70px;
    width: 100%;
    max-width: calc(100% - 320px);
    @include transition(all, .4s, ease-in-out);
  }

  &.collapsed-side-nav {
    .side-nav {
      max-width: 70px;
      min-width: 70px;

      .side-nav-header {
        padding: 0 .6875rem;
      }

      .nav-item {
        .nav-link {
          padding: auto 1rem;

          > i {
            margin: 0 !important;
          }

          > span {
            opacity: 0;
            width: 0;
          }
        }
      }
    }

    .outlet-wrapper {
      margin-left: 70px;
      max-width: calc(100% - 70px);

      admin-toolbar {
        .custom-navbar {
          max-width: calc(100% - 70px);
          width: 100%;
        }
      }
    }
  }
}
