@mixin custom-link-button($color) {
  color: $color !important;
  padding: 0.375rem 1.05rem;
  border-radius: .25rem;
  text-decoration: none !important;
  font-weight: 500;

  &:hover {
    background: rgba($color, 0.08);
    color: $color;
  }

  &:focus,
  &:active {
    background: rgba($color, 0.08);
  }
}

@mixin custom-icon-button($icon-size: 1.5rem, $icon-color: currentColor) {
  height: $icon-size * 1.5;
  width: $icon-size * 1.5;
  color: $icon-color;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  border: none;
  border: unset;
  font-size: $icon-size;
  background: transparent;
  @include display-inline-flex();
  @include align-items(center);
  @include justify-content(center);

  i {
    font-size: inherit;
    line-height: 1;
  }

  &:hover,
  &:active,
  &:focus {
    background: rgba(0, 0, 0, 0.08);
    outline: none;
    box-shadow: none;
  }
}

.custom-link-button {
  @include custom-link-button($lyb-secondary);
}

.custom-icon-button {
  @include custom-icon-button();
}



// overriding bootstrap styles
.btn {
  outline: none;

  &:focus,
  &.focus {
    // box-shadow: none;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  &.with-border{
    border: 1px solid $lighter-gray;
  }
}

// primary button
.btn {
  &.btn-primary {
    color: $true-white;

    &:active {
      color: $true-white !important;
    }

    &.active {
      color: $true-white !important;
    }
  }

  &.btn-outline-primary {
    &:hover {
      color: $true-white;
    }
  }
}

// badge
.badge {
  &:not(.badge-light) {
    color: $true-white;
  }
}
