.card {
  @include display-inline-flex();
  background-color: white;
  border-radius: 4px;
  padding: 1.25rem;
  border: none;
  position: relative;
  width: 100%;
  @include custom-box-shadow(1px, 2px, 4px);

  &.hover-card {
    @include transition();

    &:hover {
      @include custom-box-shadow(2px, 4px, 16px, 0.25);
    }
  }

  .card-header {
    padding: 0;
    background-color: transparent;
    background-color: unset;
    border: none;
    margin-bottom: 1rem;
    @include display-flex();

    .card-title {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
    }

    &.with-border {
      padding-bottom: 1rem;
      border-bottom: 1px solid $lighter-gray;
      margin-bottom: 1rem;
    }
  }

  .card-body {
    padding: 0;
    @include flex(1 1 auto);
  }

  .card-footer {
    background: none;
    border-radius: initial;
    background: unset;
    border-radius: unset;
    @include display-flex();
    @include align-items(center);
    padding: 0.75rem 0 0 0;
    border: none;
    border: unset;
    @include justify-content(space-between);

    a.view-more {
      font-size: 0.75rem;
      font-weight: 500;

      &:hover {
        color: $secondary;
        text-decoration: none;
      }
    }

    &.with-border {
      border-top: 1px solid $lighter-gray;
    }
  }

  .card-dropdown {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    //background: $true-white;
  }

  &.unstyled-card{
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
