// FlexSASS mixins
// Latest 5 Versions
// ===============================================
// Flex display
@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

//Inline-flex display
@mixin display-inline-flex() {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($value) {
  -webkit-box-flex: $value;
  -ms-flex: $value;
  flex: $value;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($value) {
  -webkit-box-orient: $value;
  -webkit-box-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($value) {
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($value) {
  -webkit-box-orient: $value;
  -webkit-box-direction: $value;
  -ms-flex-flow: $value;
  flex-flow: $value;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($value) {
  -webkit-box-ordinal-group: $value;
  -ms-flex-order: $value;
  order: $value;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($value) {
  -webkit-box-flex: $value;
  -ms-flex-positive: $value;
  flex-grow: $value;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($value) {
  -ms-flex-negative: $value;
  flex-shrink: $value;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex items initial main size of the flex item
// <width>
@mixin flex-basis($value) {
  -ms-flex-preferred-size: $value;
  flex-basis: $value;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($value) {
  -webkit-box-pack: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($value) {
  -ms-flex-line-pack: $value;
  align-content: $value;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($value) {
  -webkit-box-align: $value;
  -ms-flex-align: $value;
  align-items: $value;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($value) {
  -ms-flex-item-align: $value;
  -ms-grid-row-align: $value;
  align-self: $value;
}


.display-flex {
  @include display-flex();
}

.flex-v-center {
  @include align-items(center);
}

.flex-h-center {
  @include justify-content(center);
}

.display-flex-center {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
}
