.form-control {
  color: $dark-gray;
  border-color: $lighter-gray;

  &::placeholder {
    opacity: .55;
  }

  &:focus {
    box-shadow: none;
    border-color: darken($light-gray, 10%);
  }
}

.custom-select {
  @extend .form-control;
}

.sm-select {
  height: 1.75rem;
  padding: .15rem .5rem;
  font-size: .80rem;
}

// input type="file"
input.custom-file-input:focus {
  ~.custom-file-label {
    box-shadow: none;
    box-shadow: unset;
    border-color: darken($light-gray, 10%);

    &::after {
      border-color: darken($light-gray, 10%);
    }
  }
}

.custom-file-label {
  color: $dark-gray;
  border: 1px solid $lighter-gray;

  &::after {
    border-color: $lighter-gray;
  }
}
