// customizing modal bootstrap
.modal {
  @include display-flex();
  display: flex !important;
  @include justify-content(center);
  @include align-items(center);
}

.modal-xl {
  max-width: 80%;
}

.modal-md {
  max-width: 720px;
}

.custom-modal {
  @include flex(1 1 auto);

  .modal-content {
    overflow: hidden;

    .modal-header {
      padding: 1.25rem 1rem;
      .close {
        position: absolute;
        right: 10px;
      }
      .modal-title-icon {
        height: 42px;
        width: 42px;
        padding: .5rem;
        background: rgba($secondary, .25);
        border-radius: 50%;
        color: darken($secondary, 15%);
        @include display-inline-flex();
        @include justify-content(center);
        @include align-items(center);
        margin-right: .75rem;

        i {
          font-size: 1.5rem;
        }
      }
    }

    .modal-body {
      padding: 1.5rem 1rem 0 1rem;
    }

    .modal-footer {
      border-top: none;
      border-top: unset;
    }
  }
}


// customizing our custom modal

.custom-modal {
  @extend .modal;
  padding: 2rem;

  .modal-dialog {
    margin: auto;
    width: 100%;
  }
}

.custom-modal {
  &.custom-modal-md {
    .modal-dialog {
      max-width: 720px !important;
    }
  }

  &.custom-modal-540 {
    .modal-dialog {
      max-width: 540px !important;
    }
  }
}
