.side-nav {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: $true-white;
  @include custom-box-shadow(1px, 71px, 8px);
  @include flex(0 0 320px);
  position: fixed;
  min-width: 320px;
  max-width: 320px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1024;
  @include transition(all, .4s, ease-in-out);

  .side-nav-header {
    @include display-flex();
    @include flex-direction(row-reverse);
    @include justify-content(space-between);
    @include align-items(center);
    height: 70px;
    padding: 0 1rem;
    border-bottom: 1px solid $lighter-gray;

    .icon-button {
      @include custom-icon-button(1.75rem);
      min-height: 3rem;
      min-width: 3rem;
    }
  }

  .side-nav-container {
    height: calc(100vh - 70px);
    overflow: hidden;
    overflow-y: auto;
    padding: 1rem;
  }

  .navbar-nav {
    .nav-item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $lighter-gray;

      &:hover {
        background: whitesmoke;

        .nav-link {
          color: $dark-gray;
        }
      }

      .nav-link {
        flex: 1 1 auto;
        padding: .75rem 1.5rem;
        font-size: 1.1rem;
        color: $light-gray;
        @include display-flex();
        @include align-items(center);
        min-height: 50px;

        > i {
          transition-delay: .4s;
          @include transition(all, .3s, ease-in-out);
          margin-right: .75rem;
        }

        > span {
          display: block;
          @extend .text-truncate;
          width: 100%;
          transition-delay: .4s;
          @include transition(all, .3s, ease-in-out);
        }

        &.active {
          background: whitesmoke;
        }
      }
    }
  }
}
