// Dashboard Tables
table {
  &.table {
    thead {
      background: $white-smoke;

      th {
        border: none;
        //text-transform: uppercase;
        font-weight: bold;

        span {
          font-size: 0.65rem;

          &.subscript {
            vertical-align: baseline;
          }
        }
      }
    }

    tbody {
      tr {
        &:first-of-type {
          td {
            border: none;
          }
        }
      }
    }
  }
}

// Custom Tables - customizing bootstrap table
table.table {
  background: $true-white;

  .thead {
    &.custom-table-head {
      //text-transform: uppercase;
      background: lighten($lighter-gray, 2.5%);

      th {
        height: 60px;
        vertical-align: middle;
      }
    }
  }

  tbody {
    &.custom-table-body {
      tr {
        height: 60px;
        cursor: pointer;
        position: relative;
        @include transition(all, 0.25s, ease);

        td {
          vertical-align: middle;

          &:active,
          &:focus {
            outline: none;
            outline: unset;
          }

          &.action-block {
            padding: 0;
            max-width: 60px;
          }
        }

        &:hover {
          @include custom-box-shadow(1px, 3px, 18px);
        }
      }
    }
  }
}


// Custom table form div

.custom-table {
  display: block;
  background: $true-white;

  .custom-table-tr {
    @include display-flex();
    @include transition(box-shadow, .4s, ease);
    min-height: 60px;

    .custom-table-td {
      @include flex-grow(1);
      @include display-flex();
      @include align-items(center);
      width: 100%;
      padding: .75rem;

      &.action-cell {
        max-width: 4.25rem;
        .cell-data{
          @include display-flex();
          @include align-items(center);
          @include justify-content(flex-end);
        }
      }

      &.action-cell-xl {
        @extend .action-cell;
        max-width: 7rem;
      }

      .cell-data {
        display: block;
        width: 100%;
        overflow: hidden;
        @extend .text-truncate;
      }

      &.w-10 {
        min-width: 10% !important;
      }

      &.w-15 {
        min-width: 15% !important;
      }

      &.w-20 {
        min-width: 20% !important;
      }

      &.w-40 {
        min-width: 40% !important;
      }

      &.w-60 {
        min-width: 60% !important;
      }
    }

    .custom-table-th {
      @extend .custom-table-td;
      font-weight: bold;
      color: $dark-gray;
    }

  }

  .custom-table-thead {
    display: block;
    border-top: 1px solid $lighter-gray;
  }

  .custom-table-tbody {
    display: block;

    .custom-table-tr {
      cursor: pointer;

      // hover effect on tr
      &:hover {
        @include custom-box-shadow(1px, 3px, 18px);
      }
    }
  }


  // table with borders
  &.with-borders {
    .custom-table-tr {
      .custom-table-td {
        border-bottom: 1px solid $lighter-gray;
        border-left: 1px solid $lighter-gray;

        &:last-of-type {
          border-right: 1px solid $lighter-gray;
        }
      }
    }
  }

  &.with-borders-bottom {
    .custom-table-tr {
      border-bottom: 1px solid $lighter-gray;
    }
  }

  // table column sizing - equal columns

  &.custom-table--3cols {
    .custom-table-tr {
      .custom-table-td {
        width: 1 / 3 * 100%;
      }
    }
  }

  &.custom-table--4cols {
    .custom-table-tr {
      .custom-table-td {
        width: 1 / 4 * 100%;
      }
    }
  }

  &.custom-table--5cols {
    .custom-table-tr {
      .custom-table-td {
        width: 1 / 5 * 100%;
      }
    }
  }

  &.custom-table--6cols {
    .custom-table-tr {
      .custom-table-td {
        width: 1 / 6 * 100%;
      }
    }
  }

}


// lyb specific styles

.custom-table {
  .custom-table-thead {
    background: lighten($lighter-gray, 2.5%);
  }
}
