.alert-txt {
  font-weight: bold;
  font-size: 0.8rem;

  &.danger {
    color: $danger;
  }

  &.warn {
    color: $warning;
  }

  &.success {
    color: $success;
  }

  &:before {
    content: "";
    font-family: "Font Awesome 5 Free";
    color: inherit;
    font-weight: bolder;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 0.25rem;
  }

  &.danger,
  &.warn {
    &:before {
      content: "\f063";
    }
  }

  &.success {
    &:before {
      content: "\f062";
    }
  }
}

@mixin custom-circle-icon($icon-color) {
  @include display-inline-flex();
  @include align-items(center);
  @include justify-content(center);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: rgba($icon-color, 0.15);

  i {
    color: $icon-color;
    font-size: 85%;
  }
}
