<div class="options-block">
    <div class="search-input-container" *ngIf="searchOptions.textInputEnabled">
        <a class="btn icon-button search-clear-btn" (click)="clear()">
            <i class="fas fa-times" [class.fa-times]="searchModel.title" [class.fa-search]="!searchModel.title"></i></a>
        <input type="search" ngDefaultControl="title" [(ngModel)]="searchModel.title" class="form-control" [placeholder]="'mod_commons.search_label'|translate"
               (keyup)="onSearchCommand($event)">
    </div>
    <div class="sort-container" *ngIf="searchOptions.sortOptionEnabled">
        <select class="custom-select sort-select" ngDefaultControl="sort_by"  (change)="onChange()" [(ngModel)]="searchModel.sort_by">
            <option value="created_at">{{'mod_manage.mod_videos.date_label'|translate}}</option>
            <option value="title">{{'mod_manage.mod_videos.title_label'|translate}}</option>
        </select>
        <div class="btn-group btn-group-toggle">
            <label class="btn btn-light" ngDefaultControl="sort_order_asc"
                   [(ngModel)]="searchModel.sort_order" btnRadio="asc" tabindex="0" (ngModelChange)="onChange()"
                   role="button">
                <i class="fas fa-arrow-down"></i>
            </label>
            <label class="btn btn-light" ngDefaultControl="sort_order_desc"
                   [(ngModel)]="searchModel.sort_order" (ngModelChange)="onChange()" btnRadio="desc" tabindex="0"
                   role="button">
                <i class="fas fa-arrow-up"></i>
            </label>
        </div>
    </div>
    <!-- <div class="filter-container">

    </div> -->
    <div class="status-filter" *ngIf="searchOptions.statusOptionEnabled">
        <div class="btn-group btn-group-toggle">
            <label class="btn btn-light" ngDefaultControl="status_published"
                   [title]="'mod_commons.published_label'|translate"
                   [(ngModel)]="searchModel.status"
                   (ngModelChange)="onChange()"
                   btnCheckbox="2" tabindex="0" btnCheckboxTrue="2" btnCheckboxFalse="" role="button">
                <i class="fa fa-eye"></i>
            </label>
            <label class="btn btn-light" ngDefaultControl="status_unpublished" [title]="'mod_commons.unpublished_label'|translate"
                   [(ngModel)]="searchModel.status"
                   (ngModelChange)="onChange()"
                    btnCheckbox="1" tabindex="0" btnCheckboxTrue="1" btnCheckboxFalse="" role="button">
                <i class="fa fa-eye-slash"></i>
            </label>
        </div>
    </div>
</div>