<nav class="side-nav sticky-top">
  <div class="wrapper">
    <div class="side-nav-header">
      <a class="icon-button">
        <i class="material-icons">arrow_back</i>
      </a>
      <a class="icon-button">
        <i class="material-icons">menu</i>
      </a>
    </div>
    <ng-scrollbar class="custom-scrollbar" shown="hover" compact="true">
      <div class="side-nav-body">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/designs/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/designs/sites" routerLinkActive="active">Sites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/designs/video-bucket" routerLinkActive="active">Video Bucket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/designs/videos" routerLinkActive="active">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/designs/users" routerLinkActive="active">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/designs/calculators" routerLinkActive="active">Calculators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/designs/sites/create/resources" routerLinkActive="active">Resources</a>
          </li>
          <ul>
            <li><a class="nav-link" routerLink="/designs/sites/create/resources/videos" routerLinkActive="active">Video</a></li>
            <li><a class="nav-link" routerLink="/designs/sites/create/resources/documents" routerLinkActive="active">Documents</a></li>
            <li><a class="nav-link" routerLink="/designs/sites/create/resources/links" routerLinkActive="active">Link</a></li>
            <li><a class="nav-link" routerLink="/designs/sites/create/resources/contacts" routerLinkActive="active">Contacts</a></li>
            <li><a class="nav-link" routerLink="/designs/sites/create/resources/calculators" routerLinkActive="active">Calculators</a></li>
          </ul>
          <li class="nav-item">
            <a class="nav-link" routerLink="/designs/sites/create/themes" routerLinkActive="active">Themes</a>
          </li>
        </ul>
      </div>
    </ng-scrollbar>
  </div>
</nav>
