<!--
<div class="page-header">
    <div class="page-description">
        <h2 class="page-title"> Profile</h2>
        <p>Your profile details</p>
    </div>
    <a class="btn btn-custom btn-md" data-toggle="modal" data-target="#edit-profile" (click)="onEditProfileClick()">
        <i class="fa fa-edit"></i> 
        Edit Profile
    </a>
</div>

<div class="profile flex-container">
    <div class="image-thumbnail">
        <figure>
            <img *ngIf="user?.image_url" [src]="user?.image_url">
            <img *ngIf="!user?.image_url" src="/app-images/avatar.svg">
        </figure>
        <cmp-upload-file [uploadOptions]="uploadFileOptions" (error)="onProfilePictureUploadError($event)"></cmp-upload-file>
    </div>
    <article>
        <div *ngIf="user">
            <h3 class="profile-title">{{user.getFullName()}}</h3>
            <p><i class="fa fa-envelope-o"></i> {{user.email}}</p>
            <p><i class="fa fa-phone"></i>{{user.primary_phone?.number || 'NA'}}</p>
        </div>

        <a class="btn btn-outline" data-toggle="modal" data-target="#update-password" (click)="onEditPasswordClick()">
            Update password
        </a>
    </article>
</div>-->
<div class="host-wrapper">
    <router-outlet></router-outlet>
</div>
