<section class="authentication">
  <div class="auth-wrapper">
    <div class="brand-logo">
      <img src="../../../../../assets/img/learnyour-benefits-logo-web.png" alt="lyb-logo">
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <div class="footer mt-5 pt-5">
      <span>© 2015-2018 LearnYourBenefits.com All Rights Reserved.</span>
      <a href="https://www.learnyourbenefits.com/privacy.html">Privacy Policy</a>
      <a href="https://www.learnyourbenefits.com/terms.html">Terms of Use</a>
    </div>
  </div>
</section>
