<nav class="custom-navbar">
  <div class="top-left-nav">
    <a class="navbar-brand" href="/manage">
      <img src="assets/img/learnyour-benefits-logo-web.png" alt="learnyour worklife logo">
    </a>
  </div>
  <ul class="top-right-nav">
    <!--<li class="nav-item">
      <a class="nav-link nav-icon-link">
        <i class="material-icons">help</i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-icon-link">
        <i class="material-icons">chat</i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-icon-link">
        <i class="material-icons">notifications</i>
      </a>
    </li>-->
    <li class="nav-item">
      <div class="btn-group" dropdown>
        <button id="domain-selector" dropdownToggle class="btn btn-light dropdown-toggle"> {{selectedDomain.title}} </button>
        <ul id="domain-list" *dropdownMenu class="dropdown-menu" role="menu" style="max-height: 500px;overflow: auto;">
          <li role="menuitem" (click)="onDomainSelect(defaultDomain)"><a class="dropdown-item">Default</a></li>
          <li role="menuitem"
              *ngFor="let item of domains"
              [class.active]="item.id===selectedDomain.id"
              (click)="onDomainSelect(item)"><a class="dropdown-item">{{item.title}}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item separator">
    </li>
    <li class="nav-item">
      <a class="nav-link avatar-link">
        <div class="btn-group" dropdown placement="bottom right">
          <a id="button-basic" #btnUser dropdownToggle class="dropdown-toggle avatar-dropdown" aria-controls="dropdown-basic">
            <div class="avatar nav-avatar">
              <img [src]="getUserImage()" alt="avatar-username">

            </div>
            <span class="avatar-name">{{user.getFullName()}}</span>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a routerLink="me/profile" class="dropdown-item">{{"mod_admin_navbar.user_profile_label"|translate}}</a></li>
            <li role="menuitem"><a routerLink="/auth/logout" class="dropdown-item">{{'mod_admin_navbar.user_logout_label'|translate}}</a></li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
</nav>
