<section class="forgot-password-container row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>{{'mod_forgot_password.module_title'|translate}}</h4>
      </div>
      <div class="card-body">
        <form class="form" [formGroup]="cmptForm" (submit)="submitForm($event)" id="cmpntForm" novalidate>
          <div class="form-group form-group-lg">
            <input class="form-control" type="text" name="email" id="email" formControlName="email" [attr.placeholder]="'mod_forgot_password.email_label'|translate"
              autofocus>
          </div>
          <div class="authentication-form-buttons d-flex justify-content-between flex-row-reverse">
            <button class="btn btn-primary" type="submit">{{'mod_forgot_password.submit_label'|translate}}</button>
            <button routerLink="/auth/login" class="btn btn-light">{{'mod_forgot_password.cancel_label'|translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
