<section class="reset-password-container row" *ngIf="!resetSuccessResponse">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>{{'mod_password_update.module_title'|translate}}</h4>
      </div>
      <div class="card-body">
        <form class="form" [formGroup]="cmptForm" (submit)="submitForm($event)" id="cmpntForm" novalidate>
          <div class="form-group  form-group-lg">
            <label class="label sr-only" for="old_password">{{'mod_password_update.old_password_label'|translate}}</label>
            <input class="form-control" type="password" name="old_password" id="old_password" formControlName="old_password"
              [attr.placeholder]="'mod_password_update.old_password_label'|translate">
          </div>
          <div class="form-group  form-group-lg">
            <label class="label sr-only" for="new_password">{{'mod_password_update.password_label'|translate}}</label>
            <input class="form-control" type="password" name="new_password" id="new_password" formControlName="new_password"
                   [attr.placeholder]="'mod_password_update.password_label'|translate">
          </div>
          <div class="form-group  form-group-lg">
            <label class="label sr-only" for="new_password_confirmation">{{'mod_password_update.password_label'|translate}}</label>
            <input class="form-control" type="password" name="new_password_confirmation" id="new_password_confirmation"
              formControlName="new_password_confirmation" [attr.placeholder]="'mod_password_update.password_confirmation_label'|translate">
          </div>
          <div class="form-group authentication-form-buttons d-flex justify-content-between flex-row-reverse">
            <button class="btn btn-primary" type="submit">{{'mod_password_update.submit_label'|translate}}</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="input-container" *ngIf="resetSuccessResponse">
  <p class="alert alert-success">{{'mod_password_update.password_reset_success_label'|translate}} <a routerLink="/auth/login">{{'mod_password_update.login_label'|translate}}</a></p>
</section>
