<div class="modal-header">
  <h4 class="modal-title">
    <span class="modal-title-icon">
      <i class="fas fa-globe"></i>
    </span>
    {{modalTitle|translate}}
  </h4>
</div>
<div class="modal-body">
  <form class="form" [id]="formId" [formGroup]="formGroup">
    <div class="row m-0 mb-4">
      <div class="col-md-4 pl-0 d-flex align-items-center">{{'mod_commons.logo_label'|translate}}</div>
      <div class="col-md-8 pr-0">
        <label class="logo-selector" [for]="'logo_url'">
          <img *ngIf="formGroup.value.logo_url" [src]="formGroup.value.logo_url" [alt]="formGroup.value.logo_url">
          <span class="avatar-overlay" [class.no-image]="!formGroup.value.logo_url">
            <i class="fas fa-camera"></i>
          </span>
        </label>
        <input type="hidden" id="logo">
        <input type="hidden" id="file">
        <cmp-upload-file [uploadOptions]="thumbUploadOptions" (complete)="imageUploadResponse($event)">
        </cmp-upload-file>
      </div>
    </div>
    <div class="row m-0 mb-4">
      <label for="title" class="col-md-4 pl-0">{{'mod_manage.' + module + '.edit.title_label'|translate}}</label>
      <div class="col-md-8 pr-0">
        <input type="text" id="title" formControlName="title" class="form-control"
               [placeholder]="'mod_manage.'+module+'.edit.title_placeholder_label'|translate">
      </div>
    </div>
    <div class="row m-0 mb-4">
      <label for="domain" class="col-md-4 pl-0">{{'mod_manage.' + module + '.domain_label'|translate}}</label>
      <div class="col-md-8 pr-0">
        <input *ngIf="!resource.id" type="text" id="domain" formControlName="domain" class="form-control"
               [placeholder]="'mod_manage.'+module+'.edit.domain_placeholder_label'|translate">
        <span *ngIf="resource.id>0" class="form-control readonly" readonly>{{resource.domain}}</span>
      </div>
    </div>
    <div class="row m-0 mb-4">
      <div class="col-md-4 pl-0">{{'mod_manage.' + module + '.edit.primary_color_label'|translate}}</div>
      <div class="col-md-8 pr-0">
        <span type="text" id="primary_color" colorPicker [cpAlphaChannel]="'disabled'"
              (colorPickerChange)="colorPickerChange($event,'primary_color')" class="form-control"
              [style.background]="formGroup.value.primary_color"></span>
      </div>
    </div>
    <div class="row m-0 mb-4">
      <div class="col-md-4 pl-0">{{'mod_manage.' + module + '.edit.secondary_color_label'|translate}}</div>
      <div class="col-md-8 pr-0">
        <span id="secondary_color" class="form-control" colorPicker [cpAlphaChannel]="'disabled'"
              (colorPickerChange)="colorPickerChange($event,'secondary_color')"
              [style.background]="formGroup.value.secondary_color"></span>
      </div>
    </div>
    <div class="row m-0">
      <label [for]="descriptionControlName"
             class="col-md-4 pl-0">{{'mod_manage.' + module + '.edit.' + descriptionControlName + '_label'|translate}}</label>
      <div class="col-md-8 pr-0">
        <textarea type="text" [id]='descriptionControlName' [formControlName]="descriptionControlName"
                  class="form-control" rows="5"
                  [placeholder]="'mod_manage.'+module+'.edit.'+descriptionControlName+'_placeholder_label'|translate"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <a class="btn btn-light" (click)="cancel()">{{'mod_commons.cancel_label'|translate}}</a>
  <button class="btn btn-primary" type="submit" (click)="save()">
    {{'mod_commons.save_label'|translate}}
  </button>
</div>
