<div class="modal-header">
  <h4 class="modal-title">
    <span class="modal-title-icon">
      <i class="fas fa-user"></i>
    </span>
    {{modalTitle|translate}}
  </h4>
</div>
<div class="modal-body">
  <form class="form" (submit)="save()" [id]="formId" [formGroup]="formGroup">
    <div class="row m-0 mb-4">
      <div class="col-md-4 pl-0">
      </div>
      <div class="col-md-8 pr-0">
        <div class="avatar s128">
          <img src="app-images/avatar.svg" alt="default avatar">
        </div>
      </div>
    </div>
    <div class="row m-0 mb-4">
      <label for="first_name" class="col-md-4 pl-0">{{'mod_manage.mod_users.first_name_label'|translate}}</label>
      <div class="col-md-8 pr-0">
        <input type="text" id="first_name" formControlName="first_name" class="form-control"
               [placeholder]="'mod_manage.mod_users.first_name_placeholder_message'|translate">
      </div>
    </div>
    <div class="row m-0 mb-4">
      <label for="last_name" class="col-md-4 pl-0">{{'mod_manage.mod_users.last_name_label'|translate}}</label>
      <div class="col-md-8 pr-0">
        <input type="text" id="last_name" formControlName="last_name" class="form-control"
               [placeholder]="'mod_manage.mod_users.last_name_placeholder_message'|translate">
      </div>
    </div>
    <div class="row m-0 mb-4">
      <label for="email" class="col-md-4 pl-0">{{'mod_manage.mod_users.email_label'|translate}}</label>
      <div class="col-md-8 pr-0">
        <input type="text" id="email" formControlName="email" class="form-control"
               [placeholder]="'mod_manage.mod_users.email_placeholder_message'|translate">
      </div>
    </div>
    <div class="row justify-content-end p-3">
      <a class="btn btn-light" (click)="cancel()">{{'mod_commons.cancel_label'|translate}}</a>
      <button class="btn btn-primary ml-3" type="submit">
        {{'mod_commons.save_label'|translate}}
      </button>
    </div>
  </form>
</div>
