<ng-container *ngIf="!lazyLoading">
  <nav aria-label="pagination" class="page-navigation container-fluid" *ngIf="size>0 && totalPages>1">
    <ul class="pagination">
      <li (click)="selectPage(1)" *ngIf="currentPage !== 1" class="page-item">
        <a title="{{'mod_pagination.first_page_label'| translate}}" [class.disabled]="currentPage == 1"
           class="page-link">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>
      <li (click)="selectPage(currentPage - 1)" *ngIf="currentPage !== 1" class="page-item">
        <a aria-label="Previous" title="{{'mod_pagination.previous_page_label'| translate}}" class="page-link">
          <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
        </a>
      </li>
      <li class="disabled" *ngIf="(currentPage - range) > 1" class="page-item">
        <a class="page-link">...</a>
      </li>
      <li *ngFor="let page of pages; let i=index" class="page-item">
        <a (click)="selectPage(i+1, $event)" [class.active]="i+1 === currentPage" class="page-link">{{i+1}}</a>
      </li>
      <li class="disabled page-item" *ngIf="(currentPage + range) < totalPages">
        <a>...</a>
      </li>
      <li (click)="selectPage(currentPage + 1)" *ngIf="currentPage !== totalPages" class="page-item">
        <a aria-label="Next" title="{{'mod_pagination.next_page_label'| translate}}" class="page-link">
          <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
        </a>
      </li>
      <li (click)="selectPage(totalPages)" *ngIf="currentPage !== totalPages" class="page-item">
        <a aria-label="Last Page" class="page-link" title="{{'mod_pagination.last_page_label'| translate}}"
           [class.disabled]="currentPage == totalPages">
          <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</ng-container>
