<div class="container breadcrumb-container" *ngIf="getItems().length && isVisible()">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li *ngFor="let item of getItems();let i=index" [ngClass]="{active:isActive(item)}"><a [routerLink]="item.routerLink" >{{item.label}}</a></li>
            </ol>
        </div>
    </div>
</div>