<div (click)="switch()" class="checkbox" [attr.title]="label">
    <input type="checkbox" class="styled-checkbox" id="1" [value]="value" [attr.checked]="value==='multiple'" [attr.aria-label]="label">
    <label for="1">{{label}}</label>
    <!-- <span class="switch-label" data-on="On" data-off="Off"></span>
    <span class="switch-handle"></span> -->
</div>