advanced-select {
  display: block;
  width: 100%;

  .avatar {
    margin-right: .25rem;
    min-height: auto;
    min-width: auto;
    max-width: 24px;
    max-height: 24px;
    border: none;
  }

  .adv-selected-option {
    @include display-flex();
    overflow: hidden;
    height: 100%;
    padding-right: .75rem;
  }

  .pull-right {
    float: right;
  }

  .dropdown {
    &.open {
      .dropdown-menu {
        display: block;
        width: 100%;

        li {
          .adv-selected-option {
            margin: 0;
            padding: 10px;
          }
        }

        li.action-icons {
          padding: 10px;
          border-top: 1px solid #ccc;
          margin-bottom: -.5rem;
        }

        li.no-result {
          padding: .75rem;
          font-weight: bold;
          text-align: center;
        }

        .search-type {
          padding: 10px;
          margin-top: -0.5rem;
          border-bottom: 1px solid #ccc;
        }
      }
    }

    ul {
      margin: 0;
      list-style: none;

    }

    .dropdown-menu li ul {
      max-height: 300px;
      overflow: auto;
      padding: 0;

      &.selection-item-group {
        li {
          @include transition(background-color, .2s);

          &:hover{
            background-color: lighten($lighter-gray, 3%);
          }
          &.active {
            background-color: $lighter-gray;
          }
        }

      }
    }

    .action-icons .btn {
      font-size: .8em;
      padding: 5px;
    }

    .hand-cursor {
      cursor: pointer;
    }
  }

  .caret-holder {
    position: absolute;
    right: 10px;
    top: 7px;
  }
}

user-select-input {
  display: block;
  width: 100%;
}
