.auth-wrapper {
  height: 100%;
  width: 100%;

  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  min-height: 100vh;
  text-align: center;
  padding: 10vh 0;

  .brand-logo {
    max-height: 120px;
    margin-bottom: 6rem;
  }

  .footer {
    font-size: .825rem;

    span,
    a {
      margin: 0 .5rem;
    }
  }

  a.forgot-password {
    font-size: .825rem;
  }

  .login-container,
  .forgot-password-container,
  .reset-password-container {
    @include justify-content(center);
  }
}
