// Badge
.badge {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
}

// Dropdown
.dropdown-menu {
  @include custom-box-shadow(1px, 2px, 8px, 0.25);
  border-color: $lighter-gray;
  font-size: .875rem;
  border-radius: .25rem;

  li {
    .dropdown-item {
      padding: .75rem 1.5rem;
      border-bottom: 1px solid $lighter-gray;

      @include hover-focus {
        color: $dropdown-link-hover-color;
        text-decoration: none;
      }

      &.active,
      &:active {
        @include gradient-bg($dropdown-link-hover-bg);
      }
    }

    &:last-of-type {
      .dropdown-item {
        border-bottom: none;
      }
    }
  }
}

// Container header
.component-title-block {
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  @include flex-wrap(wrap);
  margin-bottom: 1.875rem;

  h2 {
    margin-bottom: initial;
    margin-bottom: unset;
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  .cta-block {
    @include display-flex();
    @include flex-direction(row-reverse);
    @include align-items(center);
    @include flex(1 1 auto);
    @include flex-wrap(wrap);

    > .btn.btn-secondary {
      margin-left: 1rem;
    }

    .viewType-btn-group {
      margin-left: 1rem;
    }
  }

  .options-block {
    @include flex(1 1 100%);
    @include display-flex();
    @include justify-content(flex-end);
    margin-top: .75rem;

    .search-input-container {
      width: 100%;
      max-width: 320px;
      position: relative;

      .search-clear-btn {
        position: absolute;
        right: 0;
      }
    }

    .sort-container {
      margin-left: 1rem;
      @include display-flex();

      .sort-select {
        max-width: 150px;
        border-radius: 4px 0 0 4px;
      }

      .btn-group {
        margin-left: -1px;

        .btn {
          &:first-of-type {
            border-radius: 0;
          }
        }
      }
    }

    .filter-container {
      margin-left: 1rem;
    }

    .status-filter {
      margin-left: 1rem;
    }
  }
}

// card sections header

.section-header {
  text-transform: uppercase;
  font-size: 1.25rem;
  color: $light-gray;
  margin-bottom: 1.25rem;
}

// multi line text-truncate
.multi-text-truncate {
  display: -webkit-box;
  max-height: 2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 1.25;
}

// sticky bock at top 
.sticky-block {
  position: sticky;
  top: calc(70px + 3vh);

  .card-body {
    @include display-flex();
    @include flex-direction(column);
  }

  .video-list {
    max-height: calc(100vh - 70px - 3vh - 3vh - 1.25rem - 1.25rem - 32px - .5rem) !important;
  }
}

// drag and drop block - video
.dnd-block {
  position: relative;

  .dnd-text {
    text-align: center;
    padding: 1rem;

    > i {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    p {
      margin: 0;

      a {
        color: $primary;

        &:hover {
          color: $primary;
          text-decoration: underline;
        }
      }
    }
  }
}

// action icons
.action-icons {
  .custom-icon-button {
    margin-right: .75rem;
    font-size: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

// truncate block
.truncate-block {
  @include display-flex();
  @include align-items(center);
  @include flex(1 1 auto);
  max-width: calc(100% - 2.5rem);
  cursor: pointer;

  .text-truncate {
    display: inline-block;
  }
}

// add remove icons
i.add-to-bucket {
  color: $success;
}

i.remove-form-bucket {
  color: $danger;
}

// video player
.video-player {
  text-align: center;
  padding: 5rem 2rem;
  background-color: $light-gray;
  font-size: 4rem;
  color: white;

  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
}

// no data
// always use <span> as child element inside this class

.no-data-block {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  background: rgba($dark-gray, .075);
}

// padding & margin
.pb-2rem {
  padding-bottom: 2rem !important;
}

.mx-1rem {
  margin-right: -1rem !important;
  margin-left: -1rem !important;
}

.calculator-section,
.documents-section,
.links-section,
.contact-section {
  // margin-bottom: 1.5rem;

  .section-header {
    font-size: 1rem;
  }
}

// themes - resource
.theme-resource-card {
  @include display-inline-flex();
  @include flex-direction(row);
  @include align-items(center);
  color: $dark-gray;
  padding: .75rem 1rem;
  margin-bottom: .75rem;
  margin-right: 1em;
  width: auto;
  border-radius: .25rem;
  border: 1px solid $lighter-gray;
  cursor: pointer;
  background: $true-white;
  @include transition();

  &:hover {
    text-decoration: none;
    @include custom-box-shadow(1px, 1px, 10px);
  }

  i {
    color: var(--primary);
  }

  h6 {
    margin-bottom: initial;
    margin-bottom: unset;
  }

  > i {
    margin-right: .75rem;
  }
}

// browser - themes
.browser-container {
  margin: 2rem 0 4rem 0;

  .browser-header {
    @include display-flex();
    @include align-items(center);
    height: 60px;
    background: #929292;
    color: white;
    padding: 0 2rem;
    border-radius: .75rem .75rem 0 0;

    .browser-actions,
    .browser-url-bar,
    .browser-options {
      @include display-flex();
      @include align-items(center);
    }

    .browser-actions {
      @include flex(0 0 10%);

      span {
        display: inline-block;
        height: 1.25rem;
        width: 1.25rem;
        background: #febd2f;
        margin: 0 .25rem;
        border-radius: 50%;

        &:first-of-type {
          margin-left: initial;
          margin-left: unset;
          background: #ff5f57;
        }

        &:last-of-type {
          margin-right: initial;
          margin-right: unset;
          background: #28ca41;
        }
      }
    }

    .browser-url-bar {
      @include flex(1 1 auto);
      border-radius: .25rem;
      padding: 0.25rem 1rem;
      background: $true-white;
      color: $light-gray;
      margin: 0 1rem;

      i.fa-lock {
        color: #00c341;
        margin-right: .75rem;
      }
    }

    .browser-options {
      @include flex(0 0 6%);
      @include justify-content(flex-end);

      i.fa-bars {
        font-size: 1.75rem;
      }
    }
  }

  .browser-body {
    background: $true-white;
    border: 1px solid $lighter-gray;
  }
}


// video player
.player {
  .vp-player-layout {
    left: initial !important;
    top: initial !important;
    left: unset !important;
    top: unset !important;
    width: 100% !important;
    height: 100% !important;
  }
}

// empty list
.emptylist-container {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  min-height: 50vh;
}

// block view and list view dropdown style changes

.block-view,
.list-view {
  margin-bottom: 70px;

  .dropdown-menu {
    margin-top: -2.25rem;
  }

}

.page-navigation {
  margin-top: -30px;
}

// search input global
.card-title-block {
  @include display-flex();
  @include justify-content(space-between);

  &.with-search {
    min-height: 30px;
    margin-bottom: .5rem;

    .section-header {
      margin: 0;
      @include flex(1 1 auto);
    }

    app-advanced-search {
      max-width: 40%;
    }

    .search-input-container {
      width: 100%;
      position: relative;
      flex: none !important;

      input.form-control {
        height: calc(1.8125rem + 2px);
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
      }

      .search-clear-btn {
        position: absolute;
        right: 0;
        padding: .2rem .5rem;
      }
    }
  }
}

// css loader customization - video-library
#video-library-container {
  .cssload-overlay {
    top: calc(30px + .5rem);
  }
}

.block-view, .list-view {
  .cssload-overlay {
    background: rgba(255, 255, 255, .85);
  }
}

// avatar

.avatar {
  &:hover {
    .avatar-overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}

.avatar-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, .25);
  color: $true-white;
  margin: 0;
  cursor: pointer;

  @include display-flex();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  span {
    display: block;
    margin-bottom: .25rem;
    font-weight: 500;
  }

  i {
    font-size: 1.5rem;
  }

  &.no-image {
    opacity: 1;
    visibility: visible;
  }
}


// custom tab - customized
.custom-nav-tabs {
  .nav-item {
    .nav-link {
      border: none;
      border: unset;
      padding: .75rem 1.25rem;
      min-width: 5rem;
      text-align: center;

      &:hover {
        color: $primary;
      }

      &.active {
        border-bottom: 3px solid $primary;
      }
    }
  }
}

// drag and drop accordion ngx-bootstrap customization
.dnd-accordion.custom-accordion {
  margin: 0;

  .panel.card {
    color: $dark-gray;
    background: transparent;
    @include transition(transform, .3s, ease-in-out);

    .panel-heading.card-header {
      border: 0;
      padding: 0;

      .accordion-toggle {
        @include display-flex();
        @include align-items(center);
        height: 50px;
      }

      .accordion-title {
        @include display-flex();
        @include align-items(center);
        height: 100%;
        padding-left: .75rem;
        margin: 0;
        min-width: calc(100% - 36px);
        cursor: pointer;
        color: inherit;

        &:hover {
          color: $primary;
          opacity: .95;
        }
      }
    }

    .panel-collapse {
      margin-top: 0;

      .navbar-nav {
        .nav-item {
          border: none;

          .nav-link {
            font-size: 1rem;
            padding: .75rem 1.25rem;
          }
        }
      }
    }
  }

  // style when panel is open / active
  .panel-open {
    .panel.card {
      margin-bottom: .75rem;

      .panel-heading.card-header {
        background: $primary;

        .accordion-title,
        .custom-icon-button {
          color: color-yiq($primary);
        }
      }
    }
  }
}


// ngx-accordion customization
.custom-accordion {
  margin-bottom: 1rem;

  // accordion block
  .panel.card {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    color: $light-gray;
    @include transition(all, .3s, ease-in-out);

    //accordion title
    .panel-heading.card-header {
      display: block;
      margin-bottom: 0;
      border-radius: 0;
      padding: 1rem 0;
      border-bottom: 1px solid lighten($lighter-gray, 2%);

      .accordion-heading {
        @include display-flex();
        @include align-items(center);
        cursor: pointer;

        > :first-child {
          @include flex(1);
          margin: 0;
          color: inherit;
        }

        &:hover {
          color: $primary;
          opacity: .95;
        }

        i {
          @include transition();
        }
      }

    }

    // accordion hidden content
    .panel-collapse {
      margin-top: .75rem;
    }
  }

  // accordion open state
  .panel-open {
    .panel.card {
      .panel-heading.card-header {
        .fa-chevron-down {
          transform-origin: center center;
          transform: rotate(180deg);
        }
      }
    }
  }

  // border-top on first accordion child
  > .panel {
    &:first-of-type {
      .panel-heading.card-header {
        border-top: 1px solid lighten($lighter-gray, 2%);
      }
    }
  }
}


// Positioning elements
.relative-pos {
  position: relative !important;
}

.static-pos {
  position: static !important;
}

// accordion - title
.accordion-title {
  &:focus {
    outline: none !important;
  }
}


// resource add/remove
.add-resource {
  padding: 0 0.75rem;
  opacity: .75;
  cursor: pointer;

  i {
    color: $success;
  }

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.remove-resource {
  @extend .add-resource;

  i {
    color: $danger;
  }
}


.custom-slide-toggle {
  @include display-inline-flex();
  @include align-items(center);
  position: absolute;
  top: 0;
  right: 15px;
  margin: 0;

  input {
    display: none;

    &:checked {
      + .slider {
        background: var(--primary);

        &:before {
          @include transform(translateX(1rem));
        }
      }
    }
  }

  .slider {
    display: inline-block;
    position: relative;
    height: 1.25rem;
    width: 2.25rem;
    background: $light-gray;
    border-radius: .75rem;
    @include transition();
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      position: absolute;
      height: .75rem;
      width: .75rem;
      border-radius: 50%;
      top: .25rem;
      left: .25rem;
      background: $true-white;
      @include transition();
      @include custom-box-shadow();
    }
  }

  .slider-label {
    font-weight: bold;
    margin-left: .5rem;
    cursor: pointer;
  }
}


// styles for no source message if no video
.no-source {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-gray;
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  font-size: 200%;
  color: $true-white;
  font-weight: 500;
  border-radius: .25rem;
}

//logo selector
.logo-selector {
  height: 96px;
  min-width: 96px;
  width: auto;
  border-radius: .25rem;
  position: relative;
  margin: 0;
  padding: 0 .5rem;
  overflow: hidden;

  img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
  }

  &:hover {
    .avatar-overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}


hr.light {
  border-color: rgba(255, 255, 255, .3);
}


.text-hint {
  font-size: 75%;
  display: inline-block;
  color: $dark-gray;
}

// information messages - "under construction"
.info-message{
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  padding: 10rem 0;
  color: $light-gray;
  > *{
    color: inherit;
  }
}
