 // Dashboard
 .report-section {
   .row {
     margin: 0;
   }

   button {
     margin-left: 1rem;
   }

   .daterange-input {
     position: relative;

     .form-control {
       display: inline-block;
       max-width: 250px;
       padding-right: 3rem;
     }

     button {
       position: absolute;
       right: 0;
       top: 0;
       height: 100%;
       border-radius: 0 0.25rem 0.25rem 0;
       outline: none !important;
       box-shadow: none !important;
     }
   }
 }

 .stats-blocks {
   cursor: pointer;
   @include transition(all, 0.35s, ease);

   &:hover {
     @include custom-box-shadow(1px, 4px, 12px, 0.25);
   }

   h6 {
     color: $light-gray;
   }

   h2 {
     font-weight: bolder;
     margin-bottom: 1rem;
   }
 }

 .stats-blocks,
 .quick-stats-block,
 .table-block {
   width: 100%;
 }

 .chart-block {
   height: 100%;
   width: 100%;
 }

 .main-chart-section {
   .main-chart-block {
     .card-header {
       @include justify-content(space-between);

       .form-group {
         margin: 0;
       }
     }
   }
 }

 .video-chart-section {
   .video-chart-block {
     .card-header {
       @include justify-content(space-between);

       .form-group {
         margin: 0;
       }
     }

     .card-body {
       .stat-list {
         display: block;
         margin-bottom: 0.25rem;
         padding: 0.5rem;
         cursor: pointer;

         span {
           display: block;
           margin-bottom: 0.25rem;
           font-size: 0.75rem;
         }

         h6 {
           margin: 0;
         }

         &:hover {
           background: $white-smoke;
         }

         &.active {
           background: $white-smoke;
         }
       }
     }

     .card-footer {
       @include flex-direction(row-reverse);
     }
   }

   .quick-stats-block {
     height: 100%;

     .plain-list {
       li {
         padding: 0.75rem 0;
         border-top: 1px solid $lighter-gray;

         .custom-circle-icon {
           @include custom-circle-icon($lyb-secondary);
           margin-right: 0.5rem;
         }
       }
     }
   }
 }

 .top-videos-section,
 .top-websites-section {
   .table {
     margin-bottom: 0;
   }

   .card-footer {
     @include flex-direction(row-reverse);
     border-top: 1px solid $lighter-gray;
   }
 }
