// global
.drag-transit {
  border: 1px dashed $light-gray;
  opacity: .25;
}

// category drag nad drop styles

.category-drag-drop-container {
  // on drag
  .drag-transit {
    border: none !important;
    .panel.card {
      border: 1px dashed $light-gray;
      border-left: 4px solid $warning;
      opacity: .5;
    }
  }

  // draggable element
  .category-drag-handle {
    cursor: move;
    border-bottom: 1px solid lighten($lighter-gray, 2%);
    @include transition();

    &:first-of-type {
      border-top: 1px solid lighten($lighter-gray, 2%)
    }

    &.drag-hint-border {
      background: rgba($lighter-gray, .5);
    }

    &.drag-over-border {
      &.drag-hint-border {
        border-left: 4px solid $green;
        background: transparent;

        .panel.card {
          @include transform(scale(.95));
        }
      }
    }
  }
}

// customizing ng-drag-drop for card

.resource-drag-drop-container {

  // draggable element
  .resource-drag-handle {
    cursor: move;
    @include transition();

    &.drag-over-border {
      &.drag-hint-border {
        border: 1px solid $green;
        background: rgba($lighter-gray, .5);
        box-shadow: none;
      }
    }

    &.drag-hint-border {
      border: 1px dashed $green;
      @include custom-box-shadow(2px, 4px, 18px);
    }
  }
}

// video drag drop styles

.video-drag-handle {
  cursor: move;
  @include transition();
  border-bottom: 1px solid $lighter-gray;

  &:last-of-type{
    border: none;
  }

  .video-container {
    @include transition();
  }

  &.drag-over-border {
    &.drag-hint-border {
      background: transparent;

      .video-container {
        @include transform(scale(.95));
      }
    }
  }

  &.drag-hint-border {
    background: rgba($lighter-gray, .5);
  }
}
