.abs-pos {
  position: absolute;
  @for $i from 10 through 100 {
    &.abs-pos-#{$i} {
      width: round(percentage($i/100));
    }
  }
  &.top-10 {
    top: 10px;
  }
  &.right-10 {
    right:10px;
  }
}

.admin-assign-container{
  width: 20%;
  min-width: 200px;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}
