
.resource-videos-container {
  .bucket-card {
    max-height: 45vh;
    height: 100%;

    .bucket-container {
      overflow: hidden;
      overflow-y: auto;
      border: 1px solid $lighter-gray;
      max-height: calc(45vh - 2.5rem - 2.5rem - .5rem);

      .bucket-block {
        @include display-flex();
        padding: .775rem .5rem;
        border-bottom: 1px solid $lighter-gray;

        &:last-of-type{
          border-bottom: none;
          border-bottom: unset;
        }

        .remove-form-bucket,
        .add-to-bucket {
          margin: 0 .75rem;
        }
      }
    }
  }

  .video-list{
    max-height: calc(100vh - 70px - 3vh - 3vh - 1.25rem - 1.25rem - 32px - .5rem) !important;
  }

}
