.resource-card {
  @extend .card;
  @include display-inline-flex();
  height: 100%;
  box-shadow: none;
  box-shadow: unset;
  border: 1px solid $lighter-gray;

  .card-header {
    max-height: 2.625rem;
    margin-bottom: .5rem;

    .avatar {
      margin-right: 1rem;
      height: 2.625rem;
      width: 2.625rem;
      min-width: 2.625rem;
      min-height: 2.625rem;
      background: $dark-gray;
      color: $true-white;
      text-transform: uppercase;

      @include display-flex();
      @include align-items(center);
      @include justify-content(center);

      span {
        font-weight: bold;
      }
    }

    .resource-card-title {
      @include flex(1);
      @include display-flex();
      @include flex-direction(column);
      @include align-items(flex-start);
      max-width: calc(100% - 2.625rem - 1rem - .5rem);

      h6 {
        line-height: 1.5;
        color: $dark-gray;
        margin-bottom: 0;
        width: 100%;
        @extend .text-truncate;
      }

      .badge {
        font-size: .6rem;
      }
    }

    .resource-card-icon {
      margin-top: .25rem;
    }
  }

  .card-body {
    @include display-flex();
    color: $light-gray;
    max-height: 80px;
    overflow: hidden;

    .resource-card-details {
      @include flex(1);
      max-width: calc(100% - 2.625rem - 1rem - 1.25rem);

      h6 {
        a {
          &:hover {
            color: currentColor;
          }
        }
      }

      small {
        display: block;
        line-height: 1.5;
      }
    }
  }

  .resource-card-icon {
    margin-right: 1rem;
    min-width: 1.75rem;
    text-align: center;
    color: var(--primary);

    i {
      font-size: 1.75rem;
    }
  }

  &.contact-card {
    .card-header {
      margin-bottom: 1rem;
      @include align-items(center);
    }

    .card-body {
      margin-bottom: -1rem;
    }

    .resource-card-icon {
      min-width: 2.625rem
    }

    &.no-action {
      .resource-card-title,
      .resource-card-details {
        max-width: calc(100% - 2.625rem - 1rem);

        > * {
          width: 100%;
        }
      }
    }
  }

  &.no-action {
    .resource-card-title,
    .resource-card-details {
      max-width: calc(100% - 2.625rem);
    }
  }

  // nico-status
  nico-status {
    line-height: 1;
  }
}

