.sites-container {
  .card {
    width: 100%;
    height: 100%;

    .card-body {
      @include display-flex();
      @include flex-direction(column);

      .site-header {
        @include display-flex();
        @include align-items(center);
        min-height: 54px;
        margin-bottom: 1rem;

        .avatar {
          @include avatar(54px, 54px);
          @include flex(0 0 54px);
          margin-right: 1.5rem;
        }

        .site-title {
          @include flex(1 1 auto);
          overflow: hidden;
          padding-right: 1.5rem;

          h5 {
            font-weight: bolder;
            margin-bottom: 0.15rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          p {
            font-style: italic;
            color: $light-gray;
            margin: 0;
            font-size: 0.875rem;
            font-weight: 500;
          }
        }
      }

      .site-details {
        @include flex(1 1 auto);
        @include display-flex();
        max-height: 100px;
        height: 100px;

        .subsite-block {
          min-width: 54px;
          margin-right: 1.5rem;
          text-align: center;

          h2 {
            margin-bottom: 0;
          }

          span {
            font-size: 0.75rem;
            font-weight: 500;
          }
        }

        .details {
          font-size: 0.875rem;
          overflow: hidden;
          margin-bottom: 1rem;

          .custom-text-truncate {
            height: 100%;
            margin: 0;
            @include custom-text-truncate(4);
          }
        }
      }
    }

    .card-footer {
      min-height: 30px;
      max-height: 30px;
      margin-bottom: -0.5rem;
      @include justify-content(space-between);

      a {
        font-size: 0.75rem;
        font-weight: 500;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  &.block-view {
    // specigic styles
  }

  &.list-view {
    .table {
      // specific styles
    }
  }
}
