.themes {
  padding-top: 2rem;

  .brand-details {
    .title {
      margin-bottom: 1rem;
    }

    .message {
      margin: 0;
    }
  }

  .playlist-title {
    h6 {
      margin: 0;
      margin: unset;
    }
  }

  .video-list {
    overflow: initial;
    overflow-y: initial;
    border: none;
    position: static;
    overflow: unset;
    overflow-y: unset;
    border: unset;
    position: unset;
    padding: 1rem 0;

    .video-container {
      border: none;
      border: unset;
      cursor: pointer;
      padding: 1rem 1.5rem;

      &:hover {
        background: rgba($dark-gray, .05);
      }

      .video-thumbnail {
        min-width: 100px;
        max-width: 100px;
      }

      .video-details {
        strong {
          margin-bottom: .25rem;
          line-height: 1.25;
        }

        p {
          line-height: 1.1;
        }
      }
    }
  }

  .video-player-details {
    margin: 1rem 0 1.5rem 0;

    p {
      font-size: .875rem;
    }
  }

  .resources-section {
    margin-bottom: 1rem;

    .calculator-section,
    .documents-section,
    .links-section,
    .contact-section {
      margin-bottom: 1.75rem;
    }
  }

  .theme-footer {
    @include display-flex();
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(space-between);
    padding: .5rem 2rem;
    font-size: .825rem;
    color: $light-gray;
    background: $footer-bg;
    border-top: 1px solid $lighter-gray;
    margin: 0 -15px;

    a {
      color: $lywl-primary;
      font-weight: 600;
      padding: .5rem 0;

      &:hover {
        color: $lywl-primary;
      }
    }
  }

  .category-menu {
    margin-bottom: 2rem;

    .custom-nav-tabs {
      .nav-item {
        .nav-link {
          &:hover {
            color: var(--primary);
          }

          &.active {
            border-color: var(--primary);
            color: var(--primary);
          }
        }
      }
    }
  }

  .resource-card {
    @include transition();

    &:hover {
      @include custom-box-shadow(1px, 1px, 12px);
    }

    .card-header {
      margin-bottom: 0;

      .resource-card-title {
        a {
          &:hover {
            color: var(--primary);
            //color: var(--secondary);
          }
        }
      }
    }
  }

  // ie | edge ngx-scrollbar placement issue
  .ng-scrollbar-visible {
    right: 0 !important;
  }

  &.panelled-theme {
    padding: 0;
    padding: unset;
    color: $light-gray;

    > .row {
      margin: 0;
      margin: unset;
    }

    .nav-button {
      position: fixed;
      top: 1rem;
      left: .5rem;
      display: none;
      z-index: 1020;

      button {
        @include custom-icon-button(1.75rem);
        cursor: pointer;
        background: var(--primary);
        color: var(--primary-contrast);

        &:hover {
          background: var(--primary);
        }
      }
    }

    .left-container {
      background: #f0f0f0;
      padding: 2rem 1.5rem 1rem;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1020;

      .nav-button {
        position: absolute;
        right: .75rem;
        left: auto;
        left: unset;

        button {
          @include custom-icon-button(1.75rem);
        }
      }

      .brand-block {
        .brand-logo {
          height: 100px;
          width: 100%;
          max-width: 340px;

          img {
            height: 100%;
            width: auto;
            max-width: 100%;
            object-fit: contain;
          }
        }
      }

      .playlist-title {
        @include display-flex();
        @include align-items(center);
        @include justify-content(space-between);
        @include flex-wrap(wrap);

        > small {
          display: block;
          font-weight: bold;
          padding: .5rem 0;
        }

        .custom-slide-toggle {
          float: right;
          position: static;
          padding: .5rem 0;
        }
      }

      .video-list {
        height: 70vh;
        margin: 0 -1.5rem;
        overflow: hidden;

        .no-data-block {
          margin: 0 15px;
        }
      }
    }

    .right-container {
      padding: 3rem 5vw 1rem;
      margin-left: (4 / 12) * 100%;

      .resources-section {
        margin-bottom: 3rem;
      }

      .theme-footer {
        margin: 1rem -5vw -1rem -5vw;
      }
    }

    &.browser-view {
      .left-container {
        position: static;
      }

      .right-container {
        padding: 3rem 1.5rem 1rem;
        margin: 0;

        .theme-footer {
          margin: 1rem -1.5rem -1rem -1.5rem;
        }
      }
    }
  }

  &.default-theme {
    > .row {
      padding: 0 3rem;

      .brand-details {
        margin-bottom: 1.5rem;

        .brand-logo {
          margin-bottom: 1rem;
          height: 120px;
          width: 100%;

          img {
            height: 100%;
            width: auto;
            max-width: 340px;
            object-fit: contain;
          }
        }
      }

      .video-player-section {
        margin-bottom: 1rem;

        .d-flex {
          .video-player {
            @include flex(1 1 auto);
          }

          .video-player-details {
            margin-bottom: 0;
            margin-bottom: unset;
          }
        }

        .playlist-title {
          margin-bottom: 1rem;
        }

        .video-list {
          padding: 0;
          padding: unset;
          height: 60vh;
          overflow: hidden;

          .video-container {
            padding: .5rem;

            &:hover {
              background: rgba($dark-gray, .1);
            }

            &.active {
              background: rgba($dark-gray, .2);
            }
          }
        }
      }
    }
  }

  &.dark-theme {
    @extend .default-theme;

    .row {
      .brand-details {
        text-align: center;

        .brand-logo {
          img {
            width: 100%;
          }
        }

        .message {
          text-align: left;
        }
      }

      .video-player-section {
        width: calc(100% + 6rem);
        margin-right: -3rem;
        margin-left: -3rem;
        margin-bottom: 2rem;
        padding: 2rem 4rem;
        background: $true-black;
        color: $white-smoke;

        h6,
        strong {
          color: inherit;
        }

        // customizing scrollbar
        .custom-scrollbar {
          --scrollbar-container-color: rgba(255, 255, 255, .25) !important;
          --scrollbar-thumb-color: rgba(255, 255, 255, .45) !important;
          --scrollbar-thumb-hover-color: rgba(255, 255, 255, .75) !important;
        }

        .video-list {
          max-height: 50vh;

          .no-data-block {
            background: rgba($true-white, .15);
          }

          .video-container {
            padding: .5rem;

            &:hover {
              background: rgba($true-white, .25);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .themes {
    &.panelled-theme.web-view {

      .nav-button {
        display: block;
      }

      .left-container {
        transition-delay: 2s;
        @include transition();
        max-width: 400px;
        left: calc(-400px);

        .brand-block,
        .playlist-title,
        .video-list {
          opacity: 0;
          visibility: hidden;
        }

        &.open {
          left: 0;

          .brand-block,
          .playlist-title,
          .video-list {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .right-container {
        margin: 0;
        padding-top: 4rem;
      }
    }
  }
}

@media (max-width: 575.98px) {

  html {
    font-size: 12px;
  }

  .themes {
    &.default-theme {
      > .row {
        padding: 0;

        .brand-details {
          .brand-logo {
            img {
              width: 100%;
            }
          }
        }
      }
    }

    &.dark-theme {
      > .row {
        .video-player-section {
          width: 100%;
          margin-right: 0;
          margin-left: 0;
          padding: 1rem 15px;
        }
      }
    }

    &.panelled-theme {

    }
  }
}
