// add ueser/ edit user component
.add-user-container {
  .add-user-card {
    .choose-avatar {
      padding: 20px 0;
      border-left: 1px solid $lighter-gray;
      @include display-flex();
      @include flex-direction(column);
      @include align-items(center);

      h6 {
        margin-bottom: 1.5rem;
      }

      .avatar {
        height: 150px;
        width: 150px;
        margin-bottom: 1.5rem;
        cursor: pointer;
        position: relative;
      }
    }

    .card-body {
      margin-bottom: 1rem;
    }

    .card-footer {
      @include justify-content(none);
      @include justify-content(unset);
      @include flex-direction(row-reverse);

      button {
        margin-left: 1rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .add-user-container {
    .add-user-card {
      .choose-avatar {
        border-left: none;
        border-left: unset;
      }
    }
  }
}
