// video list
.video-list {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  border: 1px solid $lighter-gray;

  .video-list-header {
    @include display-flex();
    @include justify-content(space-between);
    display: none;

    .video-list-title {
      margin: 0;
    }
  }
}

// youtube style video list block container
.video-container {
  position: relative;
  padding: .5rem;
  display: block;
  border-bottom: 1px solid $lighter-gray;

  &:last-of-type {
    border-bottom: none;
    border-bottom: unset;
  }

  &.active{
    background: rgba($dark-gray, .15);
  }

  .video-block {
    @include display-flex();
    @include align-items(center);
    margin-right: 3rem;
    cursor: pointer;

    &.without-action {
      margin-right: 0;
    }

    .video-thumbnail {
      min-width: 128px;
      max-width: 128px;
      height: auto;
      max-height: 72px;
      min-height: 72px;
      margin-right: .75rem;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 72px;
        -o-object-fit: cover;
        object-fit: cover;
        object-position: center;
        -o-object-position: center;
      }

      &:hover {
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .video-details {
      font-size: .825rem;
      @include flex(1 1 auto);

      @include display-flex();
      @include justify-content(space-between);
      @include align-items(center);


      strong {
        @extend .multi-text-truncate;
        margin-bottom: .5rem;
        max-height: 2rem;
      }

      p {
        margin: 0;
        max-height: 42px;
        overflow: hidden;
      }
    }
  }

  .video-action {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;

    a {
      opacity: .75;

      i.add-to-bucket,
      i.remove-form-bucket {
        font-size: 1.25rem;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

// common styles
.video-thumbnail{
  &:before {
    content: '\f144';
    font-family: "Font Awesome 5 Free";
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .1);
    color: $true-white;
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    @include transition();
    opacity: 0;
    visibility: hidden;
  }
}
