// video listing styles

.videos-container {
  .card {
    .card-body {
      .video-thumbnail {
        display: block;
        position: relative;
        height: 140px;
        max-height: 140px;
        margin: -1.25rem -1.25rem 0 -1.25rem;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        &:before {
          font-size: 3rem;
        }
      }

      .video-details {
        height: 145px;
        max-height: 145px;
        padding: 1rem 0;
        overflow: hidden;
        @include display-flex();
        @include flex-direction(column);

        .title {
          margin-bottom: .75rem;

          small {
            display: block;
            color: $light-gray;
            font-size: .625rem;
          }

          strong {
            display: block;
            line-height: 1;
            max-height: 34px;
            overflow: hidden;
          }
        }

        .details {
          @include flex(1 1 auto);
          overflow: hidden;

          p.custom-text-truncate {
            font-size: .75rem;
            margin: 0;
          }
        }
      }

      &:hover {
        .video-thumbnail {
          &:before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .card-footer {
      @include justify-content(space-between);
      margin-bottom: -.75rem;
      padding: .25rem 0 0;
      .card-dropdown {
        top: initial;
        top: unset;
        bottom: .5rem;
        right: 1.25rem;
      }

      .quick-info {

        span,
        i {
          margin-right: .5rem;
        }
      }
    }
  }

  i {
    &.fa-vimeo-v {
      color: $vimeo;
      margin-right: .75rem;
    }

    &.fa-cloud {
      color: lighten($info, 15%);
      margin-right: .75rem;
    }
  }
}
