.video-bucket-container {
  .card {
    width: 100%;
    @include align-content(space-between);

    .card-body {
      @include display-flex();
      @include flex-direction(column);

      .video-bucket-header {
        width: 100%;
        margin-bottom: 1rem;
        padding-right: 1.5rem;

        h5 {
          margin-bottom: 0;
          font-weight: bolder;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .video-bucket-details {
        @include flex(1 1 auto);
        @include display-flex();
        max-height: 100px;
        height: 100px;

        .details {
          overflow: hidden;
          margin-bottom: 1rem;
          flex: 1;

          p {
            height: 100%;
            padding-right: 0.75rem;
            margin-right: 1rem;
            border-right: 1px solid $lighter-gray;
            font-size: 0.875rem;
          }
        }

        .total-videos-block {
          text-align: right;

          span {
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: uppercase;
            color: $light-gray;
          }
        }
      }
    }

    .card-footer {
      min-height: 30px;
      max-height: 30px;
      margin-bottom: -.5rem;
    }
  }
}
