:host {
  display: block;
  height: 100%;
  .resource-card {
    .card-header {
      .resource-card-icon {
        width: 1.75rem;
      }

      .resource-card-title {
        h6 {
          line-height: 1.25;
          width: 100%;

          & a {
            width: 100%;
          }
        }
      }
    }

    .resource-card-actions {
      position: absolute;
      top: 1.25rem;
      right: 0;
    }
  }
}
