<div class="resource-card"
     [class.no-action]="!options.selectOptions"
     droppable
     [dragScope]="'resource'"
     [dropScope]="'resource'"
     [dragHandleClass]="'resource-drag-handle'"
     [draggable]="options.draggable"
     [dropEnabled]="options.draggable"
     (onDrop)="onDrop($event, calculator)" [dragData]="calculator">

  <div class="card-header mb-0">
    <div class="resource-card-icon">
      <i class="fas fa-calculator"></i>
    </div>
    <div class="resource-card-title">
      <h6><a [href]="calculator.url" target="_blank">{{calculator.title}}</a></h6>
    </div>
  </div>
  <div class="card-body">
    <div class="resource-card-icon"></div>
    <div class="resource-card-details">
      <small *ngIf="calculator.description; else urlBlock">{{calculator.description}}</small>
      <ng-template #urlBlock>
        <small class="text-truncate">{{calculator.url}}</small>
      </ng-template>
    </div>
  </div>
  <div class="resource-card-actions" *ngIf="options.selectOptions" (click)="onActionSelect($event, calculator)">
    <a [class.add-resource]="options.addAction"
       [class.remove-resource]="!options.addAction">
      <i class="fas"
         [class.fa-plus-circle]="options.addAction"
         [class.fa-minus-circle]="!options.addAction"></i>
    </a>
  </div>
</div>

