.custom-file-uploader {
  input.custom-file-input {
    display: none;
  }

  label.custom-file-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.disabled {
      user-select: none;
      opacity: .8;
    }

    &::after {
      content: '';
      padding: 0;
      display: none;
    }
  }
}

.input-group-append {
  label.btn-light {
    border: none;
    margin: 0;

    &.disabled {
      user-select: none;
    }
  }
}

.progress-container {
  position: relative;

  .progress {
    position: relative;
    background: rgba(0, 0, 0, .15);

    .progress-value {
      color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .custom-icon-button {
    font-size: .8rem;
    height: 1rem;
    width: 1rem;
    position: absolute;
    right: -1rem;
    top: 0;
    padding: 0;
  }
}
