<div class="input-group" [hidden]="uploadOptions.hidden">
  <div class="custom-file custom-file-uploader">
    <input type="file" [id]="uniqueId" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
      style="display: none !important" [disabled]="uploadDisabled">
    <label class="custom-file-label" [for]="uniqueId" *ngIf="!file" [hidden]="uploadOptions.labelInputHidden"
      [class.disabled]="uploadDisabled">Choose
      file</label>
    <label class="custom-file-label" [for]="uniqueId" *ngIf="file" [hidden]="uploadOptions.labelInputHidden">{{file.name}}</label>
  </div>
  <div class="input-group-append">
    <label class="btn btn-light" type="button" [for]="uniqueId" [hidden]="uploadOptions.labelInputHidden"
      [class.disabled]="uploadDisabled"><span><i class="fa fa-camera mr-2"></i>
        Browse</span></label>
  </div>
</div>
<div [class.detached]="uploadOptions.progressBarAttachment=='detached'" *ngIf="showUploadActivity">
  <section class="progress-container my-3">
    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="uploadProgressValue+'%'"></div>
      <span class="progress-value">{{uploadOptions.progressFeedbackMessage|translate}}
        {{uploadProgressValue}}%</span>
    </div>
    <button class="btn custom-icon-button" *ngIf="uploadOptions.cancellable" (click)="cancelUpload()">
      <i class="fas fa-times"></i>
    </button>
    <div class="feedback">
      <!-- <span *ngIf="uploadProgressValue == 100">{{uploadOptions.uploadSuccessMessage|translate}}</span> -->
    </div>
  </section>
</div>
