@import "../../../scss/1-tools/variables";
@import "../../../scss/1-tools/mixins";
@import "../../../scss/2-basics/flex";
@import "../../../scss/2-basics/buttons.scss";

.custom-navbar {
  height: 70px;
  max-height: 70px;
  border-left: 1px solid $lighter-gray;
  background: $true-white;
  padding: 0 2rem;
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-between);
  @include custom-box-shadow(3px, 1px, 8px);

  position: fixed;
  top: 0;
  right: 0;
  max-width: calc(100% - 320px);
  width: 100%;
  z-index: 1024;
  @include transition(all, .4s, ease-in-out);

  // nav-bar left block
  .top-left-nav {
    padding-left: 1rem;

    .navbar-brand {
      height: 45px;
      max-height: 45px;
      margin: 0;

      img {
        height: 100%;
      }
    }
  }

  // nav-bar right block
  .top-right-nav {
    @include display-flex();
    @include align-items(center);
    margin: 0;
    padding-right: 1rem;

    .nav-item {
      list-style: none;

      a.nav-link {
        line-height: 1;
        padding: 0;

        &.nav-icon-link {
          @include custom-icon-button(1.5rem);
          margin: 0 .15rem;
        }
      }
    }

    .separator {
      border-right: 1px solid $lighter-gray;
      margin: 0 .5rem;
      height: 1.5rem;
    }

    .avatar-link {
      @include display-inline-flex();
      @include align-items(center);

      .avatar-dropdown {
        @include display-flex();
        @include align-items(center);
        padding: 0 0 0 .5rem;

        // Avatar image
        .avatar {
          @include avatar(32px, 32px, 50%);
          margin-right: .5rem;
        }

        .avatar-name {
          margin-right: .5rem;
        }
      }
    }
  }
}
