<nav class="custom-navbar sticky-top">
  <div class="top-left-nav">
    <a class="navbar-brand">
      <img src="assets/img/learnyour-benefits-logo-web.png" alt="learnyour worklife logo">
    </a>
  </div>
  <ul class="top-right-nav">
    <li class="nav-item">
      <a class="nav-link nav-icon-link">
        <i class="material-icons">help</i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-icon-link">
        <i class="material-icons">chat</i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-icon-link">
        <i class="material-icons">notifications</i>
      </a>
    </li>
    <li class="nav-item separator">
    </li>
    <li class="nav-item">
      <a class="nav-link avatar-link">
        <div class="btn-group" dropdown placement="bottom right">
          <a id="button-basic" #btnUser dropdownToggle class="dropdown-toggle avatar-dropdown" aria-controls="dropdown-basic">
            <div class="avatar nav-avatar">
              <img src="assets/img/avatar-32.jpg" alt="avatar-username">
            </div>
            <span class="avatar-name">John Doe</span>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" routerLink="/users/id">View Profile</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/users/edit-user/id">Edit Profile</a></li>
            <li role="menuitem"><a routerLink="/auth/logout" class="dropdown-item">Logout</a></li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
</nav>
