<div class="card hover-card">
    <app-action-fly-menu
            [status]="value.status"
            [placement]="'top right'"
            [matIcon]="'more_vert'"
            [className]="'card-dropdown'"
            (action)="onFlyMenuAction($event)"
            [addOns]="flyMenuAddOns"
    ></app-action-fly-menu>
    <div class="card-body">
        <div class="site-header">
            <div class="avatar">
                <img [src]="value.logo_url" [alt]="value.title + ' logo'">
            </div>
            <div class="site-title">
                <h5 [title]="value.title">{{value.title|truncateText:17}}</h5>
                <p><a>{{value.domain}}.{{loc.host}}</a></p>
            </div>
        </div>
        <div class="site-details">
            <div class="subsite-block" *ngIf="showSubsiteCount !== false">
                <h2>{{value.sites_count || 0}}</h2>
                <span>{{'mod_manage.mod_resellers.sub_site_label'|translate}}</span>
            </div>
            <div class="details">
                <p class="custom-text-truncate" *ngIf="value[descriptionProperty]">{{value[descriptionProperty] | truncateText:100}}</p>
            </div>
        </div>
    </div>
    <div class="card-footer with-border" [id]="itemIdPrefix + value.htmlId">
        <nico-status [value]="value.status"></nico-status>
        <a class="view-more" (click)="onViewMoreLinkClick($event)">{{'mod_commons.view_more_label'|translate}}<i class="fas fa-arrow-right ml-1"></i></a>
    </div>
</div>
