<section class="container-fluid add-user-container">
    <div class="row">
        <div class="col-12">
            <div class="card add-user-card">
                <div class="card-header with-border">
                    <h3 class="card-title">{{'mod_manage.mod_profile.page_title'|translate}}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-9 add-user-form pr-xl-5">
                            <form [id]="formId" [formGroup]="userFormGroup" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group has-label">
                                            <label>{{'mod_manage.mod_profile.email_label'|translate}}</label>
                                            <label type="email" class="form-control">{{me?.email}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group has-label">
                                            <label>{{'mod_manage.mod_profile.first_name_label'|translate}}</label>
                                            <input name="first_name" formControlName="first_name" type="text" [placeholder]="'mod_manage.mod_profile.first_name_placeholder_label'|translate" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group has-label">
                                            <label>{{'mod_manage.mod_profile.middle_name_label'|translate}}</label>
                                            <input name="middle_name" formControlName="middle_name" type="text" [placeholder]="'mod_manage.mod_profile.middle_name_placeholder_label'|translate" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group has-label">
                                            <label>{{'mod_manage.mod_profile.last_name_label'|translate}}</label>
                                            <input name='last_name' formControlName="last_name" type="text" [placeholder]="'mod_manage.mod_profile.last_name_placeholder_label'|translate" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-end">
                                    <div class="col-md-5">
                                        <div class="form-group has-label">
                                            <label>{{'mod_manage.mod_profile.password_label'|translate}}</label>
                                            <input type="password" value="randomDummyText12345Password" readonly class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <a class="btn btn-light" (click)="openChangePasswordModal()">{{'mod_manage.mod_profile.change_password_label'|translate}}</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr class="col-xl-6 d-xl-none my-4">
                        <div class="col-xl-3 choose-avatar">
                            <h6>{{'mod_manage.mod_profile.choose_your_avatar_label'|translate}}</h6>
                            <div class="avatar">
                                <label [for]="avatarUploadOptions.inputId" class="avatar-overlay">
                                    <span>{{'mod_manage.mod_profile.add_photo_label'|translate}}</span>
                                    <i class="fas fa-camera"></i>
                                </label>
                                <img [src]="thumbUrl" alt="avatar">
                            </div>
                            <cmp-upload-file [uploadOptions]="avatarUploadOptions" (complete)="avatarUploadSuccess($event)" (start)="avatarUploadStart($event)" ></cmp-upload-file>
                            <label [for]="avatarUploadOptions.inputId" class="btn btn-light">{{'mod_manage.mod_profile.add_photo_label'|translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer with-border">
                    <button type='submit'class="btn btn-primary" (click)="save()">{{'mod_commons.save_label'|translate}}</button>
                    <button class="btn btn-outline-dark" (click)="back()">{{'mod_commons.close_label'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
