@import "../../../../../../scss/1-tools/variables.scss";
@import "../../../../../../scss/1-tools/mixins";
@import "../../../../../../scss/2-basics/flex";
@import "../../../../../../scss/2-basics/buttons";
@import "../../../../../../scss/2-basics/typography";

.host-wrapper {
  .stats-blocks,
  .table-block {
    width: 100%;
  }
  .chart-block {
    height: 100%;
    width: 100%;
  }

  .video-chart-section {
    .card-header {
      @include justify-content(space-between);
      .form-group {
        margin: 0;
      }
    }
  }
  .top-videos-section {
    .table {
      margin-bottom: 0;
    }
    .card-footer {
      @include flex-direction(row-reverse);
      border-top: 1px solid $lighter-gray;
    }
  }
}
