<div class="host-wrapper">
  <section class="container-fluid mb-4 report-section">
    <div class="row flex-row-reverse">
      <button type="button" class="btn btn-primary">Export to PDF</button>
      <button type="button" class="btn btn-primary">Generate Report</button>
      <div class="daterange-input">
        <input type="text"
               placeholder="Select Date Range"
               class="form-control"
               bsDaterangepicker
               #dateRangePicker
               placement="bottom">
        <button class="btn btn-secondary" type="button" (click)="dateRangePicker.click()">
          <i class="far fa-calendar-alt"></i>
        </button>
      </div>
    </div>
  </section>
  <section class="container-fluid mb-xl-4 mb-5 video-chart-section">
    <div class="row">
      <div class="col-12">
        <div class="card chart-block">
          <div class="card-header">
            <span class="title">Video Statistics</span>
            <div class="form-group">
              <select class="form-control sm-select" id="">
                <option>Today</option>
                <option>Last 7 days</option>
                <option>Last 14 days</option>
                <option>Last 30 days</option>
              </select>
            </div>
          </div>
          <div class="card-body"></div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-3">
        <div class="card stats-blocks">
          <h6>Views</h6>
          <h2>891</h2>
          <span class="alert-txt warn">10%</span>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card stats-blocks">
          <h6>Watch Duration</h6>
          <h2>2673</h2>
          <span class="alert-txt warn">15%</span>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card stats-blocks">
          <h6>Avg. View Duration</h6>
          <h2>03:00</h2>
          <span class="alert-txt warn">15%</span>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card stats-blocks">
          <h6>Downloads</h6>
          <h2>488</h2>
          <span class="alert-txt success">8%</span>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid mb-5 top-videos-section">
    <div class="row">
      <div class="col-12">
        <div class="card table-block">
          <div class="card-header">
            <span class="title">top websites</span>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Views</th>
                <th scope="col">Avg Time <span class="subscript">(minutes)</span></th>
                <th scope="col">Videos</th>
                <th scope="col">Downloads</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>axceptamedia.learnyourbenefits.com</td>
                <td>1899</td>
                <td>03:42</td>
                <td>25</td>
                <td>1134</td>
              </tr>
              <tr>
                <td>paramountpictures.learnyourbenefits.com</td>
                <td>1480</td>
                <td>03:01</td>
                <td>82</td>
                <td>1384</td>
              </tr>
              <tr>
                <td>medicalhealth.learnyourbenefits.com</td>
                <td>1290</td>
                <td>02:44</td>
                <td>33</td>
                <td>948</td>
              </tr>
              <tr>
                <td>medicalhealth.learnyourbenefits.com</td>
                <td>1290</td>
                <td>02:44</td>
                <td>33</td>
                <td>948</td>
              </tr>
              <tr>
                <td>medicalhealth.learnyourbenefits.com</td>
                <td>1290</td>
                <td>02:44</td>
                <td>33</td>
                <td>948</td>
              </tr>
              <tr>
                <td>medicalhealth.learnyourbenefits.com</td>
                <td>1290</td>
                <td>02:44</td>
                <td>33</td>
                <td>948</td>
              </tr>
              <tr>
                <td>medicalhealth.learnyourbenefits.com</td>
                <td>1290</td>
                <td>02:44</td>
                <td>33</td>
                <td>948</td>
              </tr>
              <tr>
                <td>medicalhealth.learnyourbenefits.com</td>
                <td>1290</td>
                <td>02:44</td>
                <td>33</td>
                <td>948</td>
              </tr>
              <tr>
                <td>medicalhealth.learnyourbenefits.com</td>
                <td>1290</td>
                <td>02:44</td>
                <td>33</td>
                <td>948</td>
              </tr>
              <tr>
                <td>medicalhealth.learnyourbenefits.com</td>
                <td>1290</td>
                <td>02:44</td>
                <td>33</td>
                <td>948</td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <a class="basic-link-button">
              <i class="fas fa-sync-alt mr-1"></i>
              Load More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

