<section class="reset-password-container row" *ngIf="!resetSuccessResponse">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>{{'mod_reset_password.module_title'|translate}}</h4>
      </div>
      <div class="card-body">
        <form class="form" [formGroup]="cmptForm" (submit)="submitForm($event)" id="cmpntForm" novalidate>
          <div class="form-group  form-group-lg">
            <label class="label sr-only" for="password">{{'mod_reset_password.password_label'|translate}}</label>
            <input class="form-control" type="password" name="password" id="password" formControlName="password"
              [attr.placeholder]="'mod_reset_password.password_label'|translate">
          </div>
          <div class="form-group  form-group-lg">
            <label class="label sr-only" for="password_confirmation">{{'mod_reset_password.password_label'|translate}}</label>
            <input class="form-control" type="password" name="password_confirmation" id="password_confirmation"
              formControlName="password_confirmation" [attr.placeholder]="'mod_reset_password.password_confirmation_label'|translate">
          </div>
          <div class="form-group authentication-form-buttons d-flex justify-content-between flex-row-reverse">
            <button class="btn btn-primary" type="submit">{{'mod_reset_password.submit_label'|translate}}</button>
            <a class="btn btn-light" routerLink="/auth/login">{{'mod_reset_password.cancel_label'|translate}}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="input-container" *ngIf="resetSuccessResponse">
  <p class="alert alert-success">{{'mod_reset_password.password_reset_success_label'|translate}} <a routerLink="/auth/login">{{'mod_reset_password.login_label'|translate}}</a></p>
</section>
