<section class="admin-wrapper" [class.collapsed-side-nav]="flexCollapsed">
  <admin-side-navbar (sideNavCollapsedEvent)="onDashboardIconClicked($event)"></admin-side-navbar>
  <div class="outlet-wrapper">
    <admin-toolbar></admin-toolbar>
    <router-outlet></router-outlet>
  </div>
</section>
