<div class="modal-header">
    <h4 class="modal-title">
    <span class="modal-title-icon">
      <i class="fas fa-unlock-alt"></i>
    </span>
        {{'mod_manage.mod_profile.change_password_modal_title'|translate}}
    </h4>
    <button class="custom-icon-button" type="button" aria-label="Close" (click)="closeModal()">
        <i class="fas fa-times"></i>
    </button>
</div>
<form [formGroup]="passwordForm" id="password-update-form">
    <div class="modal-body">
        <div class="mb-4">
            <h6>{{'mod_manage.mod_profile.change_password_sub_title'|translate}}</h6>
            <small>{{'mod_manage.mod_profile.change_password_info_message'|translate}}</small>
        </div>

            <div class="form-group has-label">
                <label>{{'mod_manage.mod_profile.current_password_label'|translate}}</label>
                <input type="password" name="old_password" [placeholder] ="'mod_manage.mod_profile.current_password_label'|translate" formControlName="old_password"
                       class="form-control" id="old_password">
            </div>
            <div class="form-group has-label">
                <label>{{'mod_manage.mod_profile.new_password_label'|translate}}</label>
                <input type="password" name="new_password" [placeholder]="'mod_manage.mod_profile.new_password_label'|translate" formControlName="new_password"
                       class="form-control" id="new_password">
            </div>
            <div class="form-group has-label">
                <label>{{'mod_manage.mod_profile.confirm_password_label'|translate}}</label>
                <input type="password" name="new_password_confirmation" [placeholder]="'mod_manage.mod_profile.confirm_password_label'|translate"
                       formControlName="new_password_confirmation" class="form-control" id="new_password_confirmation">
            </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="save()">{{'mod_manage.mod_profile.password_update_submit_label'|translate}}</button>
    </div>
</form>