// Box Shadow
@mixin custom-box-shadow($x-axis: 1px, $y-axis: 2px, $blur: 4px, $alpha: 0.15) {
  -webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

// Transitions
@mixin transition($element: all, $time: .3s, $timing-function: ease) {
  -webkit-transition: $element $time $timing-function;
  -o-transition: $element $time $timing-function;
  transition: $element $time $timing-function;
}

// Transform
@mixin transform($value){
  -webkit-transform: $value;
  -ms-transform: $value;
  transform: $value;
}


// User Select
@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

// Avatar
@mixin avatar($height: 32px, $width: 32px, $border-radius: 50%) {
  display: inline-block;
  height: $height;
  width: $width;
  min-height: $height;
  min-width: $width;
  border-radius: $border-radius;
  overflow: hidden;
  border: 1px solid $lighter-gray;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.avatar {
  @include avatar();

  &.s128 {
    @include avatar(128px, 128px);
  }

  &.s96 {
    @include avatar(96px, 96px);
  }

  &.s64 {
    @include avatar(64px, 64px);
  }
}

// Text Truncate Multiline
@mixin custom-text-truncate($line:1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
