// LearnYour Benefits
$lyb-primary: #66CCCC;
$lyb-black: #231F20;

// LearnYour Worklife
$lywl-primary: #4392CF;

// Vimeo
$vimeo: #00ADEF;

// Body Basic Colors
$body-background: #F8F8F8;
$dark-gray: #5E5E5E;
$light-gray: #909090;
$lighter-gray: lighten($light-gray, 35%);
$true-white: white;
$true-black: black;
$white-smoke: #f7f7f7;
$black: #2E2E2E;
$lyb-secondary: #6670CC;
$green:  #4AC566;

// Extra colors - override bootstrap variables
$primary: #66CCCC;
$secondary: #6670CC;
$success: #4AC566;
$warning: #FF8A12;
$danger: #F53737;
$info: #04B6D9;
$light: $lighter-gray;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark-gray
);

// themes
$footer-bg: #fdfdfd;
