@import "../../../scss/1-tools/variables";
@import "../../../scss/1-tools/mixins";
@import "../../../scss/2-basics/flex";

:host {
  display: block;
  background: $true-white;
}

.page-not-found {
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(center);
  height: 100vh;
  max-height: 100vh;

  .page-not-found-info {
    .message {
      display: block;
      font-size: 2rem;
      font-weight: bold;
    }

    .error {
      color: $light-gray;
      font-family: monospace;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .actions {
    margin: 2rem 0;

    .btn.btn-secondary {
      border-radius: 2rem;
      font-weight: normal;
      @include custom-box-shadow(2px, 2px, 12px);

      > i {
        margin-right: .5rem;
      }
    }
  }
}

@media (max-width: 768.98px) {
  .page-not-found {
    .page-not-found-info {
      .message {
        font-size: 2.5rem;
      }
    }
  }
}
