<section class="container">
  <div class="page-not-found">
    <div class="page-not-found-info">
      <span class="error">{{'mod_commons.error_404_label'|translate}}</span>
      <span class="message">{{'mod_commons.page_not_found_message'|translate}}</span>
    </div>
    <div class="actions">
      <button class="btn btn-secondary btn-rounded" routerLink="/">
        <i class="fas fa-long-arrow-alt-left"></i>
        {{'mod_commons.back_to_home_label'|translate}}
      </button>
    </div>
  </div>
</section>
