<section class="login-container row">
  <div class="col-md-6 mb-5 pb-5">
    <div class="card">
      <div class="card-header">
        <h4>{{'mod_login.module_title'|translate}}</h4>
      </div>
      <div class="card-body">
        <form class="form" [formGroup]="loginForm" (submit)="login($event)" id="loginForm" novalidate>
          <div class="form-group">
            <input class="form-control" placeholder="{{'mod_login.email_label'|translate}}" type="text" name="username"
              id="username" autocomplete="email" formControlName="username" autofocus>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="{{'mod_login.password_label'|translate}}" type="password" name="password"
              id="password" autocomplete="current-password" formControlName="password">
          </div>
          <div class="form-group d-flex align-items-center justify-content-between flex-row-reverse">
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">{{'mod_login.submit_label'|translate}}</button>
            <a class="forgot-password" [routerLink]="['/auth/forgot-password']" routerLinkActive="router-link-active">{{'mod_login.forgot_password_label'|translate}}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
