<div class="sub-header" *ngIf="advNavBar.getOptions() && advNavBar.visibility" [ngStyle]="advNavBar.getOptions().styles">
  <div class="container " [ngClass]="advNavBar.getOptions().classNamePrefix+'-sub-header'">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-left">
          <h2>
            {{advNavBar.getOptions().title}}
            <span class="display-badge display-badge-md" *ngIf="advNavBar.getOptions().subTitle">{{advNavBar?.getOptions().subTitle}}</span>
          </h2>
        </div>
        <div class="action-button-container  brand-subheader-edit pull-right" *ngIf="advNavBar.getOptions().actionTitle">
          <a (click)="onActionClick()" class="btn btn-action btn-primary" [class.btn-reverse]="advNavBar.getOptions().showLogo">{{advNavBar.getOptions().actionTitle}}</a>
        </div>
      </div>
    </div>

    <div clas="row">
      <div class="col-md-12 secondary-nav-wrapper">
        <nav>
          <ul class="nav nav-pills nav-secondary"  [ngClass]="advNavBar.getOptions().classNamePrefix+'-nav'" role="navigation">
            <li *ngFor="let item of advNavBar.getOptions().menuItems">
              <a [routerLink]="getUrl(item.routerLink)"  [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{item.label}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!--Show Brand Logo or Type Logo Here-->
    <span class="flavor-header-image-container"[ngClass]="advNavBar.getOptions().classNamePrefix+'-flavor-header-image-container'" *ngIf="advNavBar.getOptions().showLogo">
                <span [ngStyle]="{'color':advNavBar.getOptions().styles?.background}">{{advNavBar.getOptions().title | firstLetter | uppercase}}</span>
                <img *ngIf="advNavBar.getOptions().logo" style="max-height: 90px" [src]="advNavBar.getOptions().logo | brandLogoUrl"/>
            </span>
  </div>
</div>